[2021-01-29 17:06] purnima143 opened #3 "Design: Signup & login page on figma"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**
## Content for signup
    - Name
    - Email id
    - Password
    - confirm password
    - Year/sem
    - College
    - Signup button

 ##  Content for login
    - Email id

[2021-01-31 16:43] purnima143 opened #4 "Design:Main feed page(Post card for asking questions)"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**
## Content for Feed page: Post card
    - Name
    - Questions ask
    - answer,like,share button
    - date of post

Take reference of below design

 ![Feed (1)](https://user-i

[2021-01-31 16:46] purnima143 opened #5 "Design: Make feed page(Categories and follow part)"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**
## Content for Feed page: Categories
    - Categories on left side
 ## Content for Feed page: Follow others
    - List all user names with profile pic on right side

Take refere

[2021-01-31 16:51] purnima143 opened #6 "Design:Profile page"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**
## Content for Profile page
    - Profile pic with camera icon at the bottom right corner of the pic
    - Cover photo
    - Name
    - College
    - Year/Branch
    - Question

[2021-02-01 09:24] himanshujaidka commented on #3
is the backend for this project is ready?

[2021-02-01 15:50] purnima143 commented on #3
@himanshujaidka Nope, not yet. Gonna start everything from scratch.

[2021-02-02 06:24] shivani789 commented on #3
@purnima143 I have made few changes in the Figma file as I felt are required. Please check whether they are visible and suggest any changes if required.

[2021-02-02 06:27] shivani789 commented on #6
Follow button should only come when viewing other's profile, not in the user profile.
And also the total number of followers and following should be displayed on the profile.

[2021-02-02 08:30] himanshujaidka commented on #3
okay, like to collaborate with this project and I think we need to start with the backend first and for frontend, another repo should be there, in short different repo for frontend and backend code

[2021-02-06 17:26] sagar-barapatre opened #7 "How to setup the application in local machine"
We can provide in the readme of this project how to setup the project locally in our machine.

[2021-02-12 14:18] mohdarif8299 commented on #6
Can I work on it?

[2021-02-15 09:41] rishitbhojak commented on #3
@purnima143 Can I use Glassmorphic design for the sign up/sign in pages? I'd be happy to contribute to Kurakoo

[2021-02-17 07:47] himanshujaidka commented on #7
@sagar-barapatre first you need to fork this project then clone it to your local machine then run it

[2021-02-17 09:13] sagar-barapatre commented on #7
@himanshujaidka I know that. I m telling whenever a beginner tries to work on this project, how should he/ she shoul setup this project on their local machines, that can be provided in the readme

[2021-02-17 11:47] purnima143 commented on #3
@rishitbhojak Ya sure, but do you think glassmorphic will work well here?

[2021-02-17 11:52] purnima143 commented on #3
@himanshujaidka Actually you right we should make separate repo for front and backend. But because it comes under GSSoc Project 21, I kept both the folder in one repo so people can easily access it.

[2021-02-18 09:42] rishitbhojak commented on #3
@purnima143 At least we can try. I'll design and send you a rough prototype here itself. Alright?

[2021-02-18 12:48] ashish009kum commented on #3
is this issue is still open can I work on this

[2021-02-19 06:59] himanshujaidka commented on #3
okay, but for this issue, we need a frontend as well as a backend to, we need a discussion on this

[2021-02-19 06:59] himanshujaidka commented on #3
login content is the same as signup, @purnima143

[2021-02-19 12:48] purnima143 commented on #3
Updated, thank you😊

[2021-02-19 12:49] purnima143 commented on #3
yes, please work on the above mentioned Figma file

[2021-02-19 15:05] aritrochakraborty29 commented on #3
Hii.. @purnima143    ..can I contribute on it..?

[2021-02-22 07:07] vkassingh commented on #7
Hey @purnima143 , I would like to work on this issue as a part of gssoc21. Do we have a discord server for kurakoo ?

[2021-02-22 08:21] purnima143 commented on #7
@vkassingh  Wait till 1st march

[2021-02-22 14:11] ChitvanRamani22 commented on #7
Hi @purnima143 , I would like to work on this issue as a part of gssoc21.Can you please assign this to me

[2021-02-23 07:27] Aniket1103 commented on #5
I will like to work on this issue, please assign it to me.

[2021-02-23 16:28] Aniket1103 commented on #5
@purnima143 In which folder should I keep the feedPage component ?
In  src->components->common or  src->components ?

[2021-02-25 09:13] nishihere19 opened #8 "Discussion on backend."
I would like to work on the backend of this project. Can we have a discussion on the requirements?

[2021-02-25 17:04] RuchiGitHu commented on #4
Hi @purnima143 , does it should be connect and categories section as well in left and right of the feed page as you didn't mention it in "Content for Feed page" comment. Please let me also know about the header and footer section for a page....
Looking forward for contributing here...

[2021-02-25 17:09] RuchiGitHu commented on #7
Hi @sagar-barapatre , I hope you are doing well...
I can resolve this issue effectively, give me a chance to contribute in this issue....
Thanks in advance...

[2021-02-28 10:20] A7abhilash opened #9 "I would like to work on the frontend using React JS"
I have already made a similar project, do check it out [Edu App](https://github.com/A7abhilash/edu-app).
But it was built using React + Firebase tech stack. As your project is using node and express in the backend, I would like to work on frontend part using React JS and build a neat UI using bootstrap and framer motion. We can get started with basic features to be added and as we move on, we can

[2021-02-28 16:51] kunal299 commented on #6
@purnima143 Can I take this issue as a part of Gssoc'21?

[2021-02-28 16:52] kunal299 commented on #5
@purnima143 Can I work on this for gssoc'21?

[2021-02-28 16:55] kunal299 commented on #3
@purnima143 Hey, can I work on this issue for gssoc'21?

[2021-03-01 05:42] chehak123 commented on #4
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:43] chehak123 commented on #6
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 05:43] chehak123 commented on #5
Hi, I want to work on it as a participant in GSSOC'21, can you please assign this issue to me?

[2021-03-01 07:00] purnima143 commented on #6
@mohdarif8299  @kunal299 @chehak123 GSSOC'21  not yet started. If you work now, it won't be counted for the program. Most probably they will start from 8th of March. So, have patience...think of design and let me know your ideas here. Once Gssoc starts I'll assign you guys😊

[2021-03-03 06:39] himanshujaidka commented on #8
yes, we need discord server or this

[2021-03-03 07:48] maanpatel2492 commented on #3
Hey,I can work on this issue.Assign me if possible.

[2021-03-04 16:49] Shwetang550 opened #10 "I would love to work on the front-end part"
As a GSSoC'21 participant I would love to make my contributions by making some of the landing pages and components same as the figma slides for the Kurakoo :)

[2021-03-06 05:15] srk224 commented on #3
Hey
Can I design the UI for login and sign-up page. I have a bit of experience in UI/UX design and I think ill be able to do it........Would love to work on this issue!>?

[2021-03-06 05:29] shawavisek35 commented on #5
Hey, I would like to work on this issue as a participant in GSSOC'21.

[2021-03-06 15:07] aarushi31 commented on #10
Hi I'm a GSSoc'21 participant. I would like to contribute to the front end part. Do you guys have any discord server for this project?

[2021-03-06 15:14] Amit366 commented on #10
Hi I'm a GSSoc'21 participant. I would like to contribute to the front end part.

[2021-03-08 05:15] Devenkapoor7303 commented on #6
@purnima143 Can I work on this issue as a part of Gssoc as it has started ?

[2021-03-08 09:04] Sloth-Panda opened #11 "addition of issue and pr templates"
can I work on  this as part of gssoc'21?

[2021-03-08 09:05] Sloth-Panda opened #12 "addition of welcome bot"
this bot will welcome and greet anyone who opens up an issue for the first time in this repo or makes a pr.

would like to work on this as part of gssoc'21

[2021-03-08 09:06] Sloth-Panda opened #13 "code of conduct"
This project lacks a code of conduct file so would like to add that.

please assign me as part of gssoc'21.

[2021-03-08 11:37] purnima143 commented on #3
Those who are interested in this issue can start working.I will choose the design.

[2021-03-08 11:38] purnima143 commented on #3
There are a lot of people for this issue, you can create another issue based on designing related to any features which you think it's needed for the site.

[2021-03-08 11:40] purnima143 commented on #6
ya...Those who are interested in this go ahead. I will select the design. There are a lot of people on this issue. Please try to create more issue related to design for the site and then I will assign that issue.

[2021-03-08 13:05] samridhikots commented on #8
I would also like to work on the backend of this project. What all are the requirements?

[2021-03-08 15:22] purnima143 opened #14 "Discussion,general queries regarding Project"
Hello folks,
Thanks for showing your interest in this project😊. As you all know this project comes under **Girlscript Summer of Code 2021** open-source program, that's started today 🎉✨
Below are the following instructions, please read carefully:
- This project has nothing to do with existing directories and files. One issue will be created regarding the setup of the directories for both FRONT END

[2021-03-08 15:52] Mayank0255 commented on #14
@purnima143
We can create proper issue templates for Designer and Developer type tickets

[2021-03-08 17:08] pallavi-1812 commented on #14
@purnima143 Hello! I would love to contribute to this project on the frontend part by using React JS but I am a little confused on how to contribute. Do I need to create a new issue or an issue will be already created and then I will need to work on that?

[2021-03-08 17:10] subhangi2731 commented on #13
can you please assign this to me?

[2021-03-08 17:10] subhangi2731 commented on #11
can you please assign this to me?

[2021-03-08 17:12] subhangi2731 commented on #9
can you please assign this to me?

[2021-03-08 17:38] Sloth-Panda commented on #13
@purnima143

[2021-03-08 17:39] Sloth-Panda commented on #12
@purnima143

[2021-03-08 17:39] Sloth-Panda commented on #11
@purnima143

[2021-03-08 18:20] purnima143 commented on #12
@Sloth-Panda  Ya you can, but please create an issue related to the project.

[2021-03-08 18:28] Sloth-Panda commented on #12
Yes yes I have just started exploring will make issues can you please add the tags to the created issuea

[2021-03-08 18:42] Mayank0255 opened #15 "Backend: Setup a response handler for the API"
The response handler is a helper function and for that, we can put this under the helper's directory.
The benefit of this is for front-end developers working on this project, for which fetching appropriate data from the endpoint would be easier and well structured.

The Response Handler should be of this structure:

[code]

Can I work on this?

[2021-03-08 18:42] Mayank0255 commented on #15
Can you assign it to me under GSSOC'21? @purnima143

[2021-03-08 19:24] namansamra commented on #8
i would like to work on the backend server. Can we have discussion?

[2021-03-08 20:00] shairanshrawat commented on #3
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-08 20:05] shairanshrawat commented on #4
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-09 02:12] sachinsom93 opened #16 "Frontend : Setting up react redux"
## Description

As the project is in it's initial phase so it would be  helpful for further state management task if we can setting up react-redux now.

## Additional

@purnima143, if you approve this issue, could you please assign me this.
I would love to contribute to this project under GSSOC2021.

[2021-03-09 03:26] saumyasrivastava08 commented on #14
@purnima143 I want to contribute to this project but there are not certain issues can I create by my own and fix it.

[2021-03-09 04:29] himanshujaidka opened #17 "Backend: signup/login API"
for these APIs, we need to first connect the database, so I would be happy if this would assign to me.

[2021-03-09 04:32] himanshujaidka opened #18 "Backend: need improvement in index.js file"
There are some things that need to be modified in the index.js file

[2021-03-09 04:44] Mayank0255 commented on #15
@himanshujaidka actually the helper directory will be in the src of server directory which is the backend directory and the helpers directory will be in both client and server as later while deploying the app we would need to create separate mono repos of the api and the client

[2021-03-09 05:02] himanshujaidka commented on #15
okay

[2021-03-09 05:07] Mayank0255 commented on #14
And while making those templates we can add respective labels on it like `gssoc21` as those are the ones which will be counted

[2021-03-09 08:38] Esha-Sherring commented on #6
I would like to solve this issue as a participant of GSSoC'21

[2021-03-09 09:56] WebVishal commented on #14
Hey, I want to contribute to this project, but I'm not able to run it on my local system, anyone can provide some instructions.

[2021-03-09 12:03] mridulabatra commented on #6
hello mam, I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:12] Aniket1103 commented on #5
@purnima143 I have designed some basic prototype for the feed page in the Figma file, please check that out and suggest changes (if any)

[2021-03-09 13:15] thaditi commented on #3
Hey @purnima143 , I made this signup and login page on Figma. Please Review. [link](https://www.figma.com/proto/Ia0U0WxzBIZx7gy8QN4sNv/Kurakoo?node-id=1%3A40&viewport=-171%2C382%2C0.579899787902832&scaling=scale-down)

[2021-03-09 13:18] thaditi commented on #3
Hey @purnima143 , I made this signup and login page. Please review and suggest any changes that need to be made. [link](https://www.figma.com/proto/Ia0U0WxzBIZx7gy8QN4sNv/Kurakoo?node-id=1%3A40&viewport=-171%2C382%2C0.579899787902832&scaling=scale-down)

[2021-03-09 14:30] vijayjoshi16 opened #19 "Front end: SignUp form"
# Context
Whenever a new user visits the website, the very first thing he/she would like do in order to get started will be to sign up. Hence a SignUp form must be created so that new users can register themselves and start using the features of the website.

# Description
Create a signup form for the website which will take the following details as input:
- Name
- Email id
- Password
- Confirm pa

[2021-03-09 14:41] Ayushisood commented on #6
Hii @purnima143
I would like to contribute to this task as a participant of GSSOC'21

[2021-03-09 14:45] Ayushisood commented on #4
Hii @purnima143
I would love to contributing to this task as a GSSOC'21 participant.
Kindly assign this task to me.

[2021-03-09 14:51] purnima143 commented on #14
@pallavi-1812 Don't create an issue that is already there. Create a new issue if it doesn't exist

[2021-03-09 14:52] purnima143 commented on #14
@WebVishal In which field do you want to work on?

[2021-03-09 14:52] purnima143 commented on #14
go ahead

[2021-03-09 14:54] Mayank0255 commented on #14
@purnima143 I don't have the right to do that. You would have to make me a maintainer of the project in such case

[2021-03-09 14:56] purnima143 commented on #6
@Esha-Sherring  @mridulabatra  @Ayushisood  Please go ahead with designing

[2021-03-09 15:00] purnima143 commented on #5
@Aniket1103  Ya thanks for your contribution. One important instruction, Please **USE COMMENT BOX** and **WRITE YOUR GITHUB USERNAME+WHICH COMPONENT YOU WORKED ON.** Otherwise it'll create conflicts.

[2021-03-09 15:01] purnima143 commented on #19
Sure @vijayjoshi16  I will asssign you

[2021-03-09 15:06] purnima143 commented on #8
@himanshujaidka  Yes, we have a discord server for discussion regarding the project. But those who are participants of GSSOC 21 can join

[2021-03-09 15:08] purnima143 commented on #8
For backend discussion pls come to the **#kurakoo** in **GSSOC 21** server on **Discord**. Otherwise, it would create conflicts among us and we couldn't work on the project properly.

[2021-03-09 15:10] purnima143 commented on #14
@Mayank0255  I can't give access to you as a maintainer in this project. Or else work on other issues.

[2021-03-09 15:18] purnima143 commented on #4
@RuchiGitHu @chehak123  @shairanshrawat  @Ayushisood  Go ahead with this issue. Use the above Figma file for contribution and don't forget to comment your **GITHUB ID** and **WHAT CONTRIBUTION YOU MADE** on Figma. If you don't comment it won't be considered.

[2021-03-09 15:19] purnima143 commented on #4
Try to use all your creative here

[2021-03-09 15:20] purnima143 commented on #16
@sachinsom93  Go ahead

[2021-03-09 15:37] himanshujaidka commented on #8
I am a participant @purnima143

[2021-03-09 15:39] purnima143 commented on #8
@himanshujaidka That's great 😅. Just wait for a while they will give access to participants on discord

[2021-03-09 17:06] Ayushisood commented on #4
Thank you maam!

[2021-03-09 18:59] shairanshrawat commented on #4
Thank you ma'am

[2021-03-09 19:29] SARVESHKHANDELWAL commented on #6
Hii @purnima143
I would like to work on this issue can you please assign me.

[2021-03-10 02:47] Aniket1103 commented on #5
@purnima143 You are talking about the **comment box in Figma**, right?
or over here I have to comment **(in the Github comment box)**?
Anyway I have added a comment in the Figma file

I had a query:
When will you assign us for the frontend part?
Will, there be different issues for it or you will be assigning the feed page frontend part to someone amongst the commenters of this issue only?

[2021-03-10 03:46] purnima143 commented on #5
@Aniket1103  I will assign for the front end part.I assigned a few people. If you want to work on the front end part of the feed then create a new issue by saying" Front end: Feed page".We suppose to follow the First come first serve method, only those will assign. If the assigned person failed to made PR within a week then the chance will get to the next commenter. Only in the design field, multi

[2021-03-10 03:53] Aniket1103 opened #21 "Front end: Feed Page"

[2021-03-10 03:55] Aniket1103 commented on #21
I will like to work on the front end of the feed page as a part of GSsoc21.
Please assign it to me.

[2021-03-10 04:14] purnima143 commented on #21
@Aniket1103 Ya go ahead

[2021-03-10 04:54] dishiita commented on #6
Hello @purnima143 I would also like to work on this issue

[2021-03-10 07:31] Aniket1103 commented on #21
@purnima143 Please let me know, In which directory should I keep the feedpage.js page and other components like the navigation bar, sidebars, and feed component?

[2021-03-10 07:49] bug-debug-done opened #22 "A group based on college of the user"
I am a GSSoC'21 participant
There will be groups for different colleges. When a user will sign up He/She can join that group. It can act as an alumni network and will help students to get a better insight into the placements in their college. Alumni can also share how they applied for it and how they prepared. It will come under the Placement category. It will help to clear the doubts in a better

[2021-03-10 08:01] encodeArnab commented on #4
Hi @purnima143 , I'm a GSSOC'21 participant with a great website design concept (Main Feed Page) Is it possible for me to work on this problem?
Is it necessary for me to make changes to the Figma file given here, or should I create one and work on the designs there and send you a link?

[2021-03-10 09:39] garvitgupta13 commented on #7
Please assign me this issue. I can fix this issue as a part of gssoc21

[2021-03-10 10:02] prerna2712 commented on #3
May I work on this under GSSOC '21?

[2021-03-10 10:34] himanshujaidka commented on #22
@bug-debug-done this project is in its initial stage, and the feature you are requested will be implemented later, once the project will be in its working mode.

[2021-03-10 10:54] codewithvk commented on #3
@purnima143 could you please add gssoc21 tag in this issue!

[2021-03-10 11:07] shawavisek35 opened #23 "Frontend : Sign In Page | GSSOC21"
# Context
A Sign In page for the existing user.

# Description
Create a sign in form for the website which will take the following details as input:

* Email id
* Password
* Sign In button
* Social Media Sign In buttons it required.

Show an appropriate message to the user if the user details do not exist in the database and ask them to create an account first.

@purnima143 could you please review

[2021-03-10 11:08] bug-debug-done commented on #22
ok

[2021-03-10 11:50] anirudhsai20 opened #24 "Minor grammatical errors in the README.md file."
There are minor grammatical mistakes that needs to be corrected which will enhance the file.

[2021-03-10 11:51] anirudhsai20 commented on #24
Hi @purnima143 . Please allow me to work on this under GSSOC.

[2021-03-10 12:11] atharvaze commented on #7
This issue needs a good readme doc. I can do this as a part of gssoc21

[2021-03-10 12:58] pshivesh8 commented on #6
As a GSSOC'21 participant, I would love to work on this issue. I have previously worked with HTML, CSS, React JS, Node JS as well as Bootstrap. Could you please assign this issue to me?
Thank you!!

[2021-03-10 13:53] ASHISH-GITHUB2495 opened #25 "A Very First Welcome Page of this website with interactive {html,css,javascript,react}"
contents:-
1. login option.
2. create account option.
    - both 1 and 2 will redirect to login/signup page
3. 3.contact option which you will edit later.
4. Animated welcome page of this website.

[2021-03-10 13:55] ASHISH-GITHUB2495 commented on #25
I am already working on it ... please assign it to me mam.
Thank you...

[2021-03-10 14:09] purnima143 commented on #25
@ASHISH-GITHUB2495  Go ahead

[2021-03-10 14:17] purnima143 commented on #21
Client--->src--->Create folder Component--->place feed.js inside Component folder

And ya your design is fine, go with that design for now.

[2021-03-10 14:22] purnima143 commented on #23
@shawavisek35  I will assign this issue

[2021-03-10 14:55] shawavisek35 commented on #23
One question @purnima143  : I can see that the design of the sign in page in figma is not yet completed so should I wait for that to be completed or I can start and design it in my own way.

[2021-03-10 15:01] purnima143 commented on #23
@shawavisek35 Wait for today, Once I will share you can start working on the development

[2021-03-10 15:03] purnima143 commented on #19
@vijayjoshi16 Wait! I will share the design of the signup form, it's not yet completed

[2021-03-10 15:21] purnima143 commented on #24
@anirudhsai20  Go ahead

[2021-03-10 15:23] purnima143 commented on #13
@subhangi2731 You can go ahead with this issue

[2021-03-10 15:24] purnima143 commented on #13
@Sloth-Panda  You are assigned for another issue, so I am giving this chance to @subhangi2731

[2021-03-10 15:25] Aniket1103 commented on #21
Ok, thanks!

[2021-03-10 15:31] purnima143 commented on #10
@Shwetang550 @Amit366 @aarushi31 Ya thanks for showing your interest in this project.You guys can create an issue and start working

[2021-03-10 15:34] Sloth-Panda commented on #13
@purnima143 you can assign me if the other person is not active.!

[2021-03-10 15:34] purnima143 commented on #9
@subhangi2731 @A7abhilash  You guys can start creating issue related to front end

[2021-03-10 15:41] Sloth-Panda opened #28 "greeting bot integration"
his bot basically greets someone who opens up an issue or makes a pr for the first time in the repo

download the bot from here, and I will be adding an extra file for showing custom messages

https://github.com/apps/welcome

@purnima143 would like to work on it

[2021-03-10 16:05] vijayjoshi16 commented on #19
Ok👍

[2021-03-10 17:05] AasthaSinha2305 opened #29 "(GSSOC'21) Navbar for website"
hello @purnima143

As a gssoc participant i would like to work on the navbar for the website,
I will include everything that has been mentioned in the figma.

I would like to work on the navbar for **feed page**. Can you please assign it to me.

[2021-03-10 17:30] A7abhilash commented on #8
How the authentication is needed? Is it just custom username and password or google sign in or any other method?

[2021-03-10 17:58] Uyadav207 opened #30 "chore: add to issue templates."
**Deliverables**

- [x] Bug Report
- [x] Feature request
- [x] pull request template

[2021-03-10 17:59] Uyadav207 commented on #30
Hey, @purnima143, I would love to work on above mentioned. for GGSOC'21

[2021-03-10 18:22] JASHANJOT7KAUR commented on #21
I would like to work on this issue, kindly assign it to me.

[2021-03-10 18:33] AasthaSinha2305 commented on #29
@purnima143 Sure 👍

[2021-03-10 19:54] purnima143 commented on #23
## Sign In page Design

![Signin-Kurakoo](https://user-images.githubusercontent.com/57852378/110688257-640eb700-8207-11eb-9684-9b9e7e7c44b1.png)
## Below is the drive link that has required assets
https://drive.google.com/drive/folders/1S-Mx9Hsrf1GdnUFLCQSWwH-NsejZbVmi?usp=sharing

[2021-03-10 19:55] purnima143 commented on #19
## Sign Up page Design
![Signup-Kurakoo](https://user-images.githubusercontent.com/57852378/110688272-6709a780-8207-11eb-9f74-c4dc7fe65ed7.png)

## Below is the drive link that has required assets
https://drive.google.com/drive/folders/1S-Mx9Hsrf1GdnUFLCQSWwH-NsejZbVmi?usp=sharing

[2021-03-10 20:01] purnima143 commented on #4
@encodeArnab It is necessary to use the given Figma link for creating the design otherwise won't count. So, please work on that file only. Once you are done use the comment box and mention your github id and your contribution.

[2021-03-10 20:04] purnima143 commented on #4
@shairanshrawat Sorry but nothing is visible🙁. And please use the provided Figma file, no need to create a new one. If you had created one then copy the complete frame and paste it on the provided Figma file.

[2021-03-10 20:10] purnima143 commented on #3
Great work😊!! But can you copy your frame and paste here[figma link](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo)
Don't forget to comment down your GitHub id and your contribution in the Figma file.

[2021-03-10 20:13] purnima143 commented on #3
@aritrochakraborty29 @kunal299 @prerna2712 @maanpatel2492  You guys can start contributing😊. But not in this issue, try to create a new issue and once I'll assign you guys can start contributing.

[2021-03-10 20:16] purnima143 commented on #21
@JASHANJOT7KAUR  Already assigned to @Aniket1103  . You can try to find out other issues.

[2021-03-11 02:24] bhubesh757 opened #31 "Add Google Authentication to SignUp!🚀"
@purnima143 After the Completion of **Signup/SignIn** , Just I will Add the Auth to the , So  they can Easily login using Google , Github , Linkedin , And also we can Get the users data with permission
You can Assign this to me After complletion of singup form

[2021-03-11 02:36] purnima143 commented on #29
## Header & navbar of website
![Feed navbar-dimension](https://user-images.githubusercontent.com/57852378/110727039-8670f680-8240-11eb-88d7-8707b37e4c7e.png)

## Below is the drive link for the required assets
https://drive.google.com/drive/folders/10zXfEF1m_qzyQPKalxEOnp3PNzKDScCL?usp=sharing

[2021-03-11 02:37] purnima143 commented on #29
@AasthaSinha2305 Let me know if you face the problem anywhere

[2021-03-11 02:38] purnima143 commented on #31
Ya sure, after completion of the Signup/Sign in form

[2021-03-11 02:39] purnima143 commented on #30
@Uyadav207 Go ahead

[2021-03-11 02:53] purnima143 commented on #6
Any update on profile page designing?

[2021-03-11 02:55] purnima143 commented on #25
@ASHISH-GITHUB2495 May I know your process, how much you had done?

[2021-03-11 03:30] codewithvk commented on #18
hey @himanshujaidka, Can you describe more, which type of improvement needed?

[2021-03-11 03:46] Uyadav207 commented on #30
Thanks :)

[2021-03-11 03:48] dishiita commented on #6
@purnima143 I am working on it. Would be completed mostly by today

[2021-03-11 03:52] purnima143 commented on #6
@dishitta Cool👍

[2021-03-11 04:03] encodeArnab commented on #6
Hello @purnima143 I didn't know that I have to make changes in this Figma file only.
so I have created one and made changes here, kindly review it after then I will add it to that Figma file,
[Figma Designs](https://www.figma.com/file/eKJHIq1klPx5MwwZrRn1zI/Kurakoo-Profile?node-id=0%3A1)
Thank You

[2021-03-11 04:08] Uyadav207 commented on #30
@purnima143 , I think someone has already updated it at #27, earlier...

[2021-03-11 04:11] purnima143 commented on #30
Ya 😅, You can work on other issues

[2021-03-11 04:14] thaditi commented on #3
I have added my frames in the given Figma file.

[2021-03-11 04:15] purnima143 commented on #6
@encodeArnab Great job, I really like the design😊😍. But can you pls copy and paste the frames on the provided Figma file and comment your GitHub id and your contribution there.

[2021-03-11 04:18] encodeArnab commented on #6
Thank You @purnima143 😄😃
Okay I will do it now.

[2021-03-11 04:31] sachinsom93 opened #32 "Frontend: Create a reducer for Alerts"
## **Is your feature request related to a problem? Please describe.**

- Creating a Alert reducer would be helpful to use whenever we want to add a alert in frontend.

## **Describe the solution you'd like**

- I will create a alert reducer that would call whenever we want to use a alert.

@purnima143 could you please assign this to me ?

[2021-03-11 04:33] Mayank0255 commented on #15
@purnima143 could you assign this to me and add the relevant labels too?

[2021-03-11 04:33] #16 closed

[2021-03-11 04:33] sachinsom93 commented on #16
Closing this issue as task is done.

[2021-03-11 04:36] himanshujaidka commented on #18
@codewithvk see pr #33 for the refernce

[2021-03-11 04:50] #11 closed

[2021-03-11 05:29] Mayank0255 opened #36 "Setup linters to the project"
We should setup `.eslintrc` and `.prettierrc` for the project, so that all the developers can follow a systematic way of coding with conventions.

The linting would be on the basis of [Airbnb JS Style Guide](https://github.com/airbnb/javascript) which would include points like

__Prettier__
- Tab Width Index: 2
- Semi Colons: True
- Single Quote: True
- TSX Single Quote: True
- Arrow Parenthesis:

[2021-03-11 05:47] anhushree opened #37 "Design a Landing/Home page for the website"
## **Is your feature request related to a problem? Please describe.**
The website currently does not have a Landing page to explain what it is

## **Describe the solution you'd like**
- The solution is to design a Landing page

[2021-03-11 05:49] anhushree commented on #37
I would like to take upon this issue @purnima143

[2021-03-11 05:57] anhushree opened #38 "Redesigning the Feed page in Figma"
## **Is your feature request related to a problem? Please describe.**
- The feed page's design can be improved

## **Describe the solution you'd like**
- The background of the Logo should be transparent
- The search bar should be positioned and Add a search icon
- The elements in Navbar can have icons

[2021-03-11 06:00] anhushree commented on #38
I would like to take up this issue @purnima143

[2021-03-11 06:02] purnima143 commented on #37
@anhushree  Ya go ahead, Try to create abstract designs and use Unsplash images if you're placing an image. It's a landing page so try to be creative😊. And let me know if you need any help

[2021-03-11 06:03] purnima143 commented on #32
@sachinsom93 Ya go ahead

[2021-03-11 06:03] anhushree commented on #37
Okay, Thank you @purnima143.

[2021-03-11 06:08] shairanshrawat commented on #4
sorry for the inconvenience @purnima143, now have a look I had done it in the main Figma file. Lemme know if I have to change anything

[2021-03-11 06:13] purnima143 opened #39 "Backend: Setup for Backend(server)"
Need a proper setup for **backend(server)** .  All the directories present are not working because of some issue. I want anyone to help in this issue that has a **proper backend folder/files from scratch**. So that other contributors can start working on Backend without any bugs and errors.

[2021-03-11 06:15] promaroy commented on #39
Can I work on this?

[2021-03-11 06:15] purnima143 commented on #39
@promaroy  Ya

[2021-03-11 06:16] purnima143 commented on #39
I will assign you for this issue

[2021-03-11 06:17] purnima143 commented on #3
@all-contributors please add @thaditi  for design

[2021-03-11 06:17] #3 closed

[2021-03-11 06:18] himanshujaidka commented on #39
assign it to me also @purnima143

[2021-03-11 06:21] thaditi commented on #3
@purnima143 will this be counted as my contribution for GSSOC'21?

[2021-03-11 06:21] purnima143 commented on #4
Great work👏 @shairanshrawat Just copy your frames to the given Figma file and comment down your GitHub id and about your contribution there.

[2021-03-11 06:47] ASHISH-GITHUB2495 commented on #25
All Html and basic things have done...just working with css now.. soon it will be done

[2021-03-11 06:54] encodeArnab commented on #6
I have added the designs to the Figma file as mentioned
Thank You 😄

[2021-03-11 07:52] anhushree commented on #37
I have completed, kindly check figma @purnima143

[2021-03-11 08:08] #15 closed

[2021-03-11 08:11] purnima143 commented on #37
Good work👏, really like the illustrations🙂

[2021-03-11 08:12] purnima143 commented on #37
@all-contributors please add @anhushree  for design

[2021-03-11 08:13] purnima143 commented on #6
@all-contributors please add @encodeArnab  for design

[2021-03-11 08:27] #37 closed

[2021-03-11 08:28] purnima143 commented on #6
@all-contributors please add @encodeArnab  for design

[2021-03-11 08:52] #19 closed

[2021-03-11 08:53] #39 closed

[2021-03-11 09:04] shawavisek35 commented on #23
Thanks
By the way the design is really nice.

[2021-03-11 09:19] simranbhalla3 commented on #29
@purnima143 Please add this issue in gssoc21 label and assign this to me

[2021-03-11 10:22] Aniket1103 commented on #21
@purnima143 I needed the .svg file of the Kurakoo logo
And I am not able to copy or download it from the Figma file
What should I do?

[2021-03-11 10:37] purnima143 commented on #23
@shawavisek35 Can you use a material UI framework for designing the page?

[2021-03-11 10:38] purnima143 commented on #23
@shawavisek35  go through #42 pr once

[2021-03-11 10:44] purnima143 commented on #21
I will share

[2021-03-11 10:45] purnima143 commented on #21
https://drive.google.com/drive/folders/1S-Mx9Hsrf1GdnUFLCQSWwH-NsejZbVmi

[2021-03-11 11:00] shawavisek35 commented on #23
Yup I am using the material UI framework only

[2021-03-11 12:13] SpecTEviL commented on #14
Hey @purnima143, Vishal Patil here and would like to inform you that I would like to work on making an automatic page slider component for this site under GSSoC'21. This slider would take the user to the top from the bottom with the help of just a single button. If you think this issue is appropriate you can make this issue and assign it to me or else if needed I can make it and then you can assig

[2021-03-11 13:18] sachinsom93 opened #51 "Dockerize various modules"
## **Is your feature request related to a problem? Please describe.**

This issue will deal with Creating Docker images and compose.yml files for following modules:-
- React frontend
- Node server
- And MongoDB
## **Describe the solution you'd like**

I'll start working on this one once  the basic setup for backing and mongoDB is done.
@purnima143 could you please assign me this ?

[2021-03-11 13:40] Aniket1103 commented on #21
thank you

[2021-03-11 15:15] rajeshpanjiyar commented on #13
I want to work on this so I request you to assin this me too. I am a participant in GSSOC'21.

[2021-03-11 17:34] purnima143 commented on #14
@SpecTEviL  Create an issue for that

[2021-03-11 18:20] udaymittal7 commented on #17
I would like to work on this API.

[2021-03-11 19:36] dishiita commented on #6
@purnima143 I have made a design as well. You can have a look here [https://www.figma.com/file/Tw73Aipl2bJ1yGGvOBoFnz/Untitled?node-id=0%3A1](Design). Let me know what changes are needed!

[2021-03-12 04:22] SpecTEviL commented on #14
Sure @purnima143 will do that ASAP.

[2021-03-12 04:25] SpecTEviL opened #53 "Auto Page Scroller Button"
## **Is your feature request related to a problem? Please describe.**

- When a user is at the end of the page and the page is long then it becomes a tedious job to scroll all the way up. In such situations, an Auto Scrolling button comes in handy.

## **Describe the solution you'd like**

- Addition of an Auto scrolling button to the right bottom corner so that when the user clicks it they'll be

[2021-03-12 04:26] SpecTEviL commented on #53
Hey @purnima143, Vishal here I've created this issue and you can assign it to me so that I start the work ASAP.
Also, make sure to add the gssoc tag along with the appropriate difficulty level.
Thanks!

[2021-03-12 04:56] purnima143 commented on #53
@SpecTEviL  Go ahead

[2021-03-12 07:19] devanshi-code commented on #53
Hey @purnima143  can I work on this issue

[2021-03-12 07:27] ankitaugale23 opened #54 "Adding Footer with some styling (Frontend)"
Footer will be having contact information and other basic things which standard footers have with some styling to it with color code closely related to our logo.

[2021-03-12 07:28] ankitaugale23 commented on #54
I would like to work on this. If you have any styling or the format in mind please let me know. I will work with that.

[2021-03-12 07:54] encodeArnab commented on #5
@purnima143  Greetings! I created the categories, connect and home page in this [Figma file](https://www.figma.com/file/cErrvjNvI4R4CxhljAagbl/Kurakoo-Main?node-id=0%3A1); could you please review it before I add it to the Kurakoo Figma File?
Thank you so much.

[2021-03-12 08:02] encodeArnab opened #55 "[Design] - UI Design for Notifications Page"
## **Is your feature request related to a problem? Please describe.**

- For the 'notifications page', there are no UI designs.

## **Describe the solution you'd like**

- This page's UI designs are something I'd like to focus on.

[2021-03-12 11:41] rohank2502 opened #58 "Will like to update the tech stack section ( with logo )"
I will like to add the tech stack section with their particular logo this will make the read me file more attractive !! Will start to work as soon as I get assigned !

[2021-03-12 11:41] vijayjoshi16 opened #59 "Backend : Create User schema"
## Problem/Context

Once the folder structure for the back-end is created and some basic boilerplate code is added, we start the back-end development part and create some APIs and work with data which we retrieve from or add into the database. To work with the database, we initially create a skeleton/blueprint of what the related data should look like for eg. what all fields should be there in the

[2021-03-12 11:42] vijayjoshi16 commented on #59
@purnima143 If you could approve this issue, could you please assign it to me?

[2021-03-12 11:43] rohank2502 opened #60 "Will like to add automatic contribution updater"
I will like to add a feature which will add a contribution section in read me which will be updated automatically !! Will start to work as soon as I get assigned !

[2021-03-12 12:00] vdmondkr2002 commented on #14
@purnima143 I also want to contribute this project's backend but i am not able to find the channel **#kurakoo** in **GSSOC 21** server, Have they given access?

[2021-03-12 14:14] aqua0 commented on #25
Is this issue done?
If not i want to work on this issue

[2021-03-12 15:13] himanshujaidka commented on #59
Linked to #17 issue

[2021-03-12 15:16] #59 closed

[2021-03-12 15:19] himanshujaidka commented on #17
@vijayjoshi16 you could collaborate here :)

[2021-03-12 15:25] purnima143 commented on #55
@encodeArnab Go ahead

[2021-03-12 15:26] purnima143 commented on #54
@ankitaugale23  Go ahead

[2021-03-12 15:27] purnima143 commented on #54
@ankitaugale23  Are you working on the frontend or design? Please mention your issue title also.

[2021-03-12 15:28] purnima143 commented on #14
@vdmondkr2002  Not  yet

[2021-03-12 16:25] encodeArnab commented on #55
Thank You @purnima143 😃

[2021-03-12 16:37] vijayjoshi16 commented on #17
Ok @himanshujaidka :)

[2021-03-12 16:39] himanshujaidka commented on #17
I am working on signup API

[2021-03-12 16:56] vijayjoshi16 commented on #17
Ok I'll start working on the user schema soon....

[2021-03-12 16:58] himanshujaidka commented on #17
I mean all files that are necessary for making signup API and without schema file API will not work if you are interested then pls work on login API

[2021-03-12 17:04] vijayjoshi16 commented on #17
"without schema file API will not work"....I understood this point.....
"if you are interested then pls work on login API"....here I'm confused whether to work on schema file or login API

[2021-03-12 17:24] ASHISH-GITHUB2495 commented on #25
Yes , i have done it and generated pull request , you can check it,

[2021-03-13 06:09] rohank2502 commented on #58
Have a look at this @purnima143

[2021-03-13 07:00] kaffan commented on #53
Hey @purnima143  Am a GSSoC participant and am interested in working on this issue

[2021-03-13 07:08] kaffan commented on #5
Hey @purnima143 am a gssoc participant please assing me this issue

[2021-03-13 07:15] kaffan opened #62 "Creating a Sign up page(GSSoC 21)"
## Proposal

(A clear and concise description of what the proposal is.)

The webite of our project will be containing a sign up pagte in order to create an account.
it will ask for important information like name, mobile no, city, country etc
it will ask to make a username and a password

[2021-03-13 07:31] subhangi2731 commented on #13
I am working om this

[2021-03-13 07:32] subhangi2731 commented on #13
@purnima143 Thank you so much and I will make a pr by today

[2021-03-13 09:33] kaffan commented on #17
can you give me some task?

[2021-03-13 10:48] kaffan opened #63 "Frontend:Post Question page(gssoc21)"
## Proposal

I would like to design post question page as gssoc21 participant

[2021-03-13 11:58] #23 closed

[2021-03-13 12:00] #29 closed

[2021-03-13 12:11] RuchiGitHu commented on #4
Hi @purnima143, as I new to use figma but I have desire to learn it. Please guide me to understand it better.
I have certain doubt, please help me to overcome from this...
Can I directly edit/design main feed page in figma file?
Thanks in advance...

[2021-03-13 12:45] WebVishal commented on #14
hi @purnima143  I want to Contribute in the frontend, actually when I putting npm start cmd then it shows an error missing script: start

[2021-03-13 13:07] purnima143 commented on #14
Did you instal npm?

[2021-03-13 13:11] Subham142 opened #66 "Remove warings in the signUp.js showing in the console"
## **Describe the bug**
The signUp page is compiled successfully but has a lot of warnings.

## **Possible solution**

can be fixed

## **Screenshots**

![Screenshot (35)](https://user-images.githubusercontent.com/60570595/111031079-c516d480-842b-11eb-92e4-fa1ff0242bd2.png)

[2021-03-13 13:13] Subham142 commented on #66
Please assign this to me and please add the GSSoC labels

[2021-03-13 13:21] Suvojit-roy opened #67 "Custom scroll bar"
The website is quite soothing and has a great UI but the lack of a custom scrollbar makes it look incomplete as the default one doesn't go well with the UI

[2021-03-13 13:49] WebVishal commented on #14
yes i have installed npm after that i again run npm start the it show
![IMG_20210313_190819](https://user-images.githubusercontent.com/76445546/111032145-d7dfd800-8430-11eb-9c23-02b71cd61a29.jpg)

[2021-03-13 14:00] purnima143 commented on #14
1. Never use C drive change the drive of the project
2. You have to go to the client folder
3. Then  npm install
4. npm start

[2021-03-13 14:29] #67 closed

[2021-03-13 14:38] Subham142 opened #69 "Change the favicon and text"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-13 14:39] #69 closed

[2021-03-13 14:45] Subham142 opened #70 "Change the favicon and signIn issue"
## **Describe the bug**

->to change the favicon logo as well as the text
-> on clicking the "Sign In" we should be redirected to the sign in page

## **Possible solution**

->add image and text
->use LinkTo

## **Screenshots**

![Screenshot (37)](https://user-images.githubusercontent.com/60570595/111033744-c6023300-8438-11eb-80c4-a1255cc331d6.png)

[2021-03-13 14:45] Subham142 commented on #70
I can work on it
Please add labels and assign them to me

[2021-03-13 14:51] foram-s1 commented on #5
I would like to contribute to this. Can I @purnima143 ?

[2021-03-13 14:54] kunal299 commented on #6
@purnima143 Can I also share a design with you?

[2021-03-13 14:59] purnima143 commented on #63
@kaffan  Go ahead

[2021-03-13 15:05] #66 closed

[2021-03-13 15:21] Mayank0255 commented on #36
@purnima143 Could you assign this to me?

[2021-03-13 15:22] purnima143 commented on #4
take the above image as a reference and design by your own thoughts

[2021-03-13 15:25] Mayank0255 opened #71 "Doc: Add project setup guidelines"
## Proposal
Many developers are having trouble setting up the project in there local machine for which I would like to add some _Setup Guidelines_ for both the frontend and the backend.

@purnima143 Could you assign this to me under GSSOC'21?

[2021-03-13 16:40] kunal299 commented on #6
As specified, I have used those primary colors and all the content needed.
![image](https://user-images.githubusercontent.com/71486434/111037155-efc35600-8448-11eb-918d-9364921fc1dc.png)

[2021-03-13 16:46] purnima143 commented on #71
@Mayank0255 Ya go ahead. Add setup details under the general guideline heading of the readme file

[2021-03-13 17:17] balarka135 commented on #62
I like to work on this issue. Pls assign me this project

[2021-03-13 21:01] udaymittal7 opened #73 "Adding various security features"
Setting various HTTP headers using helmet
Data sanitization against no SQL injection and XSS
Rate limiter so the server won't get overload

If you find it relevant, please assign me.

[2021-03-14 03:54] kaffan commented on #63
@purnima143 can i get the figma design for this page

[2021-03-14 04:16] #60 closed

[2021-03-14 05:48] purnima143 commented on #63
@kaffan Could you wait. I'll create an issue for the post question page design after getting the design you can start working.

[2021-03-14 05:50] purnima143 commented on #62
Done #19

[2021-03-14 05:50] #62 closed

[2021-03-14 05:55] purnima143 opened #75 "Design: Add Post question page"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**

##Take reference from the below design
![image](https://user-images.githubusercontent.com/57852378/111058935-e02f2600-84b7-11eb-9243-46eec932f072.png)

## Any queries?
You can

[2021-03-14 06:01] purnima143 opened #76 "Design:Question page"
-   **UI Prototyping** with figma tool [figma design](https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
).
- **Please follow the 3 primary colours - #FFBB00 ,#FF6F00 ,#411818 for designing the pages**
- After clicking on a particular question, a separate page should appear which will have the person name who asked the question,date-time, question, all the answers and a like/d

[2021-03-14 06:08] kaffan commented on #63
@purnima143  ok thanks

[2021-03-14 06:11] kaffan commented on #75
hey @purnima143 how about designing it like stackoverflow page?

[2021-03-14 06:43] purnima143 commented on #75
@kaffan Ya StackOverflow is also nice, but I like the UX of quora. We could take reference of both the sites.

[2021-03-14 06:56] Mayank0255 commented on #39
Can you assign this to me as refactor is required to this?

@purnima143

[2021-03-14 07:25] kaffan commented on #75
@purnima143 i can think of design but actually i have never designed any web page using tools like figma. can you give me a little description like what are the essential parts you need in post question page

[2021-03-14 10:00] bhavesh1334 commented on #76
Hello! @purnima143  I would like to work on this issue as a GSSOC_21 participant , Can you please assign it to me.

[2021-03-14 10:59] Subham142 opened #79 "Start the server and client together"
## **Is your feature request related to a problem? Please describe.**

We need to start the frontend and backend separately. This should be fixed

## **Describe the solution you'd like**

Use concurrently

[2021-03-14 11:00] Subham142 commented on #79
Please assign this to me. and also labels the labels

[2021-03-14 12:46] akshatvirmani commented on #76
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:58] abhinav5481 commented on #76
Hi @purnima143
I would like to work on this issue. Could you please assign it to me?

[2021-03-14 13:59] abhinav5481 commented on #75
Hi @purnima143
I would like to work on this issue as part of GSSOC'21. Could you please assign it to me?

[2021-03-14 15:21] #25 closed

[2021-03-14 15:53] Chadha93 commented on #76
@purnima143  I will provide the design max in 2-3 days and I have UI experience in FIGMA you can assign me so I can start

[2021-03-14 15:58] purnima143 commented on #76
@bhavesh1334 @akshatvirmani @abhinav5481 @Chadha93 You all can work on this issue.

[2021-03-14 15:59] purnima143 commented on #75
@abhinav5481 Ya go ahead

[2021-03-14 16:12] ankitaugale23 commented on #54
Sorry for the late reply. I am working on the front end.
Sure I will mention in the issue title
Do you have any specific design in your mind for the footer? or should I work directly on my own idea? @purnima143

[2021-03-14 20:21] Chadha93 commented on #76
@purnima143  here it's done
 https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
but how will a pr for figma is created because we don't have to add anything

[2021-03-15 04:28] purnima143 commented on #4
Those who contributed to Figma. Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:28] purnima143 commented on #5
Those who contributed to Figma. Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:29] purnima143 commented on #6
Those who contributed to Figma. Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:29] purnima143 commented on #55
@encodeArnab  Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:30] purnima143 commented on #76
Those who contributed in design. Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:30] purnima143 commented on #75
Those who contributed to design. Please create a pr and insert the image in the assets folder of the repo.

[2021-03-15 04:35] Chadha93 commented on #76
@purnima143  I have made the pr please review it

[2021-03-15 07:15] Ayushbajpai19 commented on #38
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-15 08:06] EANimesha opened #83 "Proposal: Developing Authentication API Endpoints"
## Proposal for the User Authentication API Endpoint development.

For the Authentication of the application following APIs need to be created

- /user/signup
- /user/signin
- /user/forget-password

The task breakdown for the authentication function as follows.

- [ ] create User Schema
- [ ] develop user signup endpoint
- [ ] develop user signing endpoint
- [ ] develop forget-password endpoint

[2021-03-15 08:06] EANimesha commented on #83
I have added a task breakdown for the development of the authentication APIs. Multiple participants can contribute to this. We can start the development of the server side by assigning each of those tasks as tickets to participants. Suggest if need more features.
Also, I like to develop the signup endpoint & could you please assign it to me.

[2021-03-15 09:26] Mayank0255 commented on #83
#17 & #59 seems to be of similar kind, you should discuss with there assignees and ask for a collaboration.

[2021-03-15 11:30] pallavi-1812 commented on #14
Hello @purnima143 , I want to contribute to frontend but after cloning the repository and running it locally, I am getting a blank page and an error in console saying
Store does not have a valid reducer. Make sure the argument passed to combineReducers is an object whose values are reducers.
console.<computed> @ index.js:1

[2021-03-15 11:34] purnima143 commented on #14
@pallavi-1812 The blank page is fine bcoz we don't have a home page now only signup/in and feedpage. I didn't get such type of errors. Let me check

[2021-03-15 11:38] #71 closed

[2021-03-15 11:40] #76 closed

[2021-03-15 11:45] purnima143 commented on #70
@Subham142 Go ahead

[2021-03-15 14:23] kunal299 commented on #6
@purnima143 I have created a pr. Check it out.

[2021-03-15 14:41] ShambhaviSharma0110 commented on #63
hey, I'm interested in this project could you please allow me to make a pr?

[2021-03-15 14:49] Mayank0255 commented on #36
@purnima143 Can you assign this to me?

[2021-03-15 14:57] Chadha93 commented on #76
@purnima143 can you please also add me to contributes list in readme

[2021-03-15 14:59] kanishkaa24 commented on #21
Hello Mam! Can I work on this?

[2021-03-15 14:59] kanishkaa24 commented on #24
Hello Mam! Can I work on this?

[2021-03-15 14:59] kanishkaa24 commented on #54
Hello Mam! Can I work on this?

[2021-03-15 14:59] kanishkaa24 commented on #55
Hello Mam! Can I work on this?

[2021-03-15 15:00] kanishkaa24 commented on #75
Hello Mam! Can I work on this?

[2021-03-15 15:00] kanishkaa24 commented on #63
Hello Mam! Can I work on this?

[2021-03-15 17:23] ritanshoo opened #85 "images used in signIn & signup page are dragable, ideally we need to disable this draggability"
## **Describe the bug**

- images used in the signing & signup page are draggable { in mobile view also }
- to check this issue on your end, just click on the image and hold & drag, you will see the starts image moving with the cursor, ideally this should be disabled

## **Possible solution**

- we need to add the attribute > draggable={false} to all the img _tags

## **Screenshots**
![2](https://

[2021-03-15 17:25] ritanshoo commented on #85
I can work on it
Please add labels and assign it to me

[2021-03-15 17:38] VishalRajai41 opened #87 "Signup page add the link for signin"
## **Describe the bug**
Add Signup Page for sign-in link Not includes signin page.
- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-15 17:38] #87 closed

[2021-03-16 04:49] manognyaa commented on #55
@purnima143 Can I also contribute to this issue ?

[2021-03-16 05:29] singhayushh opened #89 "Replacing body parser with Express' own body parser"
## Proposal
Hello, for express versions 4.16 and above, express' body parser is included in the default express package and there is no need to install additional body parser dependencies to the application.

I would like to work this issue myself if approved.

[2021-03-16 06:28] nishantsahu961 commented on #75
@purnima143 , I would like to contribute in this feature as a Gssoc participant , Can i work upon the issue ?

[2021-03-16 07:10] encodeArnab commented on #55
Okay I will surely do that.

[2021-03-16 07:49] vdmondkr2002 opened #90 "Compact Code: Sign In/SIgn Up pages"
**Proposal:**
More compact react state code in Sign In and Sign Up pages
I noticed that in the code of sign In and sign Up pages on the client side the there have been different states for each input field , instead of which we can use a single state which will be an object

This will help in making the code much more compact and readable.

I would like to work on this issue @purnima143

[2021-03-16 08:51] ankitaugale23 commented on #54
Should I proceed with my idea for this issue @purnima143 or shall I wait till you give me a specific design?

[2021-03-16 09:07] digbijaya20 commented on #90
Please assign it to me

[2021-03-16 10:30] vdmondkr2002 commented on #90
No i have created this issue @digbijaya20 , please assign it to me @purnima143

[2021-03-16 11:39] Chadha93 commented on #75
@purnima143 As I have also designed the question page earlier so I also designed the Add Post question page accordingly

[2021-03-16 13:28] niyatitotala commented on #24
Hello, Can I work on this? @purnima143

[2021-03-16 15:26] hardik7e opened #96 "Frontend: Homepage for kurakoo"
## Proposal
I would like to code out the landing page/ HomePage for kurakoo as per this design
![Kurakoo HomePage1](https://user-images.githubusercontent.com/62202998/111334978-04e2f380-869a-11eb-88d3-f031b9e4a224.PNG)

Please assign it to me

[2021-03-16 18:02] encodeArnab commented on #55
Hello @purnima143, I have created a PR regarding Home Page, Profile Page and Notifications Page.
For Notifications Page, Please review it once here [Notifications Page In Figma](https://www.figma.com/file/GKl627y9wfjOBDONSby3HE/Kurakoo-Notifications-Page?node-id=0%3A1)
Thank You

[2021-03-16 21:17] 435akashjha commented on #54
@purnima143 Can I work on this issue

[2021-03-16 21:19] 435akashjha commented on #24
@purnima143 Please assign this issue to me I am beginner and would like to contribute to this project

[2021-03-17 12:00] maw1a opened #97 "Add a .prettierrc.json"
## Add a .prettierrc.json

Add .prettierrc.json to avoid text formatting changes in every PR.

Here is an example:

{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false
}

[2021-03-17 15:02] jain-rishabh-21 opened #98 "Considering using Docker for Development"
## **Is your feature request related to a problem? Please describe.**

- Shifting development to docker will help in easing the work for new contributors.
-
## **Describe the solution you'd like**
Using docker for development will be a good choice. WIll help the contributors start straight with the coding part

[2021-03-17 15:04] maw1a commented on #98
Is this required @jain-rishabh-21 ? I feel it's unnecessary considering its a web project.

[2021-03-17 15:11] jain-rishabh-21 commented on #98
Umm I guess it will be useful, as everyone uses a different OS and some developers using WSL gets a lot of errors while developing, exactly the case with me!

[2021-03-17 15:27] ir2010 commented on #96
Assigned to you. Go ahead @hardik7e

[2021-03-17 15:32] #24 closed

[2021-03-17 16:09] #17 closed

[2021-03-17 16:15] himanshujaidka opened #100 "require: sign-in API"
We need to add a sign-in API also, so I am interested in that, pls assign this to me

[2021-03-17 17:00] #85 closed

[2021-03-17 17:01] #5 closed

[2021-03-17 19:42] subhasmitapradhan commented on #53
I would like to work on this issue. Please kindly assign it to me.

[2021-03-17 19:45] subhasmitapradhan commented on #31
I would like to work on this issue. Please kindly assign it to me.

[2021-03-18 04:22] hardik7e commented on #96
Thank you @ir2010

[2021-03-18 06:11] SpecTEviL commented on #53
Hey, @purnima143 I've implemented the functionality it's just that for the page to scroll to the top we need to give it an id of Navbar and as of now we don't have a navbar it's not functioning. As soon as we have one it'll work fine.
Hence I'm waiting for the navbar to be merged so that I can add its id and make this work. So do let me know once the navbar has been merged.
Thanks!

[2021-03-18 06:13] SpecTEviL commented on #53
Hey @purnima143 I just saw that the navbar is added hence I'll work on this and update you latest by tomorrow.

[2021-03-18 06:34] srishtij2000 commented on #4
Can I work on this issue?

[2021-03-18 06:34] Avnish5 commented on #96
Kindly assign me this issue under GSSOC 2021.

[2021-03-18 06:34] srishtij2000 commented on #96
Can I work on this issue?

[2021-03-18 07:28] sparkler20 commented on #96
Issues are to be assigned on first come first serve basis. If a valid PR is not created within 4 days, the issue will be assigned to someone else.

[2021-03-18 07:30] ir2010 commented on #96
The issues are to be assigned on first come first serve basis. If a valid PR is not made within 4 days, the issue may be assigned to someone else.

[2021-03-18 08:54] #75 closed

[2021-03-18 14:28] jain-rishabh-21 commented on #98
@purnima143 , Can you please look into this!

[2021-03-18 16:08] abhay27chauhan commented on #89
**Describe your Proposal**
Express version 4.16+, their own body-parser implementation is now included in the default Express package so there is no need for you to download another dependency.

You have added a line to your code that looks like the following:

- app.use(bodyparser.json());

If you are using Express 4.16+ you can now replace that line with:

- **app.use(express.json());**

you als

[2021-03-18 16:09] abhay27chauhan commented on #89
I am a participant of GSSOC'21. Pls assign this issue to me.

[2021-03-18 16:18] abhay27chauhan opened #103 "error is not handled in case of database connection"
## Proposal

You have not handled the error -> catch statement missing

1.  Your code ->

mongoose.connect(
  process.env.MONGO_URL,
    {
      useNewUrlParser: true,
      useUnifiedTopology: true,
      useCreateIndex: true,
    }
  )
  .then(() => {
    console.log("database connected");
  });

2. My Suggestion ->

    mongoose.connect(
      process.env.MONGO_URL,
        {
          useNewUr

[2021-03-18 18:12] #13 closed

[2021-03-19 08:26] #96 closed

[2021-03-19 13:02] MoatazNasr commented on #83
I'd like to work on signup endpoint as a GSSOC student .

[2021-03-19 13:13] Aniket1103 opened #106 "Frontend: Notification Page"
## Proposal

I will like to work on the frontend part of the Notification Page for the Project as a part of gssoc21.
Kindly assign it to me.

[2021-03-19 14:23] ShambhaviSharma0110 commented on #54
hey, I've added the footer please review the pr...

[2021-03-19 14:26] ir2010 commented on #106
Would you like to code the page or create a new design? If you want to code the frontend of the page, please let us know the design you'll be following.

[2021-03-19 15:32] Aniket1103 commented on #106
Yes, I will be considering the coding part
and I was thinking of following the design present in the Figma file for the notification page.
Is that fine?

[2021-03-19 17:50] singhayushh commented on #89
@abhay27chauhan ???
Did you read the issue body?

[2021-03-19 18:42] Aniket1103 commented on #106
@ir2010 So should I start working on it?
Could you please assign it to me?

[2021-03-19 19:04] ir2010 commented on #106
@Aniket1103 go ahead

[2021-03-19 19:26] Aniket1103 commented on #106
Ok, Thank you maam!

[2021-03-19 21:18] riddhisiddarkar opened #108 "Front end: Working on a add a question page"
Hey @purnima143 ! I just saw that the design for adding a question has been added. Could I code the front-end for it in react? I'm a gssoc '21 participant and it would be great if you could assign me this issue.

Thank you so much for your time.

[2021-03-20 05:49] BharatiSukanya opened #109 "Categorization of questions based on the different subjects."
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-20 05:54] BharatiSukanya commented on #109
A feature to put particular subject questions in the respective category.
This requires a bar at the top of the screen to select particular subject questions to either, answer, view, or discuss.

[2021-03-20 11:52] purnima143 commented on #109
@BharatiSukanya  Wanna work on this issue?

[2021-03-20 11:52] #70 closed

[2021-03-20 12:18] aditi1403 opened #110 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #104.

[2021-03-20 12:58] MoatazNasr commented on #100
I'd like to work on this issue as a GSSOC 21student .

[2021-03-20 14:13] ir2010 commented on #108
@riddhisiddarkar go ahead

[2021-03-20 15:15] codewithvk commented on #103
@abhay27chauhan Do you want to work on it?

[2021-03-20 19:56] tend2infinity commented on #103
Hey there! I'm a GSSOC participant can I work on this issue since no one else is assigned?

[2021-03-20 20:06] abhay27chauhan commented on #103
yes, i want to work on this one

[2021-03-20 21:46] tend2infinity opened #112 "Redirecting user to the feed page once a user is successfully logged in"
## **Introduction**
Hii, I am a Gssoc participant and I would like to work diligently upon the issue explained below, please assign that to me.

## **Description**
See, right now the logic written for the login component in the client-side does not redirect the user upon getting successfully signed in (after going through that API call), he just stays in the login page after getting signed in. I w

[2021-03-21 03:22] codewithvk commented on #103
@tend2infinity go ahead! Also, add `red CLI` for the error part.

@abhay27chauhan we are assigning issues based on first come. You can look/create some other issue.

[2021-03-21 03:54] #110 closed

[2021-03-21 03:54] abhay27chauhan commented on #103
no preblem, But i am the first one. Because this issue is opened by me

[2021-03-21 04:23] codewithvk commented on #103
@abhay27chauhan next time please add-in issue so we can work smoothly :)

[2021-03-21 05:04] ir2010 commented on #112
@tend2infinity go ahead

[2021-03-21 06:22] ShambhaviSharma0110 opened #113 "Adding a homepage and navbar"
## **Is your feature request related to a problem? Please describe.**

- I've contributed to the footer and I noticed that there's no homepage or navbar so I would like to add those components

## **Describe the solution you'd like**

- I'll add a navbar and homepage with fictitious content that can be edited later...

[2021-03-21 10:54] khareyash05 opened #115 "add error 404 page"
I would live to add Error 404 page to the same when user types any other route

[2021-03-21 12:12] Priyanshi-Sharma-142 commented on #113
@ShambhaviSharma0110 can I work on this issue?

[2021-03-21 12:37] himanshujaidka commented on #100
Any updates, mentors?

[2021-03-21 15:40] hardik7e opened #116 "Making Homepage responsive and adding correct content"
## **Would like to make following Enhancements**
- Make Homepage responsive
- add correct content on homepage

[2021-03-21 17:12] Diksha-11 opened #117 "Adding meta http-equiv content type"
I would like to add a meta tag containing attribute "http-equiv" and 'content-type" in /client/public/index.html.

As "http-equiv" attribute set is similar to the http header.Thus, it should be ther in the Kurakoo.
Along with that "http-equiv" with "content-type" allows us to specify the media type & character set.

Thus ,I request @maw1a  @ir2010 @codewithvk to please /assign me this issue.

[2021-03-21 21:08] VishalRajai41 opened #120 "User and Admin add"
## **Describe the bug**
1). Add the user sign-in for server-side code.
2). Add the admin sign-in and signup for server-side code.
- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-22 02:29] #103 closed

[2021-03-22 02:29] #112 closed

[2021-03-22 06:15] #90 closed

[2021-03-22 07:24] himanshujaidka commented on #120
@VishalRajai41 is it necessary to add admin?

[2021-03-22 07:55] himanshujaidka opened #121 "toastoptions error"
![Screenshot (181)](https://user-images.githubusercontent.com/58654018/111957430-008f5e00-8b12-11eb-8397-67a356622b97.png)

[2021-03-22 08:57] VishalRajai41 commented on #120
Yes of course. Without admin how can you handle website?

[2021-03-22 13:45] aniketlodh commented on #120
How about adding a secret code input in the login and signup form to check whether the user is the admin?

[2021-03-22 17:44] nishihere19 commented on #109
Can I work on this issue under gssoc'21?

[2021-03-22 18:07] riddhisiddarkar commented on #108
Hey! I have made the pull request #124 for the code and also added a modal to insert a link.

[2021-03-22 18:13] RuchiGitHu commented on #4
Please check my feed page, I have commented in figma file. @purnima143

[2021-03-23 07:15] RuchiGitHu commented on #4
Ok @purnima143, please review my PR #127.
Thanks in advance..

[2021-03-23 09:34] ir2010 commented on #121
@himanshujaidka want to work on solving the error?

[2021-03-23 09:35] #108 closed

[2021-03-23 10:52] #4 closed

[2021-03-23 10:52] #6 closed

[2021-03-23 10:53] purnima143 commented on #115
@khareyash05  frontend?

[2021-03-23 10:53] purnima143 commented on #115
or design?

[2021-03-23 10:55] purnima143 commented on #38
@anhushree and @Ayushbajpai19  you both can work on design and please make sure to add the images in assets folder

[2021-03-23 11:00] purnima143 commented on #113
@ShambhaviSharma0110 Dude without get assigned for the issue, you can't create pr, it's not valid. Don't do such a mistake from next time onwards.

[2021-03-23 11:02] purnima143 commented on #116
@hardik7e  just wait for a while. We are working on the homepage. Once that's get done you can start working on this issue.

[2021-03-23 12:03] codewithvk commented on #79
@Subham142 go ahead!

[2021-03-23 12:06] codewithvk commented on #79
@pronayguha13 Without get assigned for the issue, you can't create PR. it's not valid. so take care of it :)

[2021-03-23 12:10] codewithvk commented on #117
@Diksha-11 hey can you please describe what does need of `http-equiv` for our application?

[2021-03-23 14:11] anhushree commented on #38
Thank you so much

[2021-03-23 14:59] BharatiSukanya commented on #109
@purnima143 sure will work on it.

[2021-03-23 15:39] himanshujaidka commented on #121
@ir2010 no

[2021-03-23 16:55] ShambhaviSharma0110 commented on #113
Oh sorry my bad! won't do it again

[2021-03-24 06:00] #121 closed

[2021-03-24 06:10] Subham142 opened #130 "Remove warnings"
## **Describe the bug**
few warnings are shown in the homepage.s

## **Screenshots**

![Screenshot (41)](https://user-images.githubusercontent.com/60570595/112263671-b33bf980-8c95-11eb-8ee7-bb85d505820a.png)

[2021-03-24 06:11] Subham142 commented on #130
@codewithvk  please assign it to me add add the lables

[2021-03-24 06:12] codewithvk commented on #130
@Subham142 go ahead!

[2021-03-24 06:37] #130 closed

[2021-03-24 06:51] #18 closed

[2021-03-24 16:52] Diksha-11 commented on #117
@codewithvk , meta http-equiv attribute is used to run the http content. It allows to run only what is present inside the mentioned content.

In the about section of kurakoo, It is written that: "Kurakoo is an online community of people providing answers to questions just like Quora site."

Even quora has this meta attribute (Saw when I inspect Quora), that's why I felt that it should be included

[2021-03-24 16:55] codewithvk commented on #117
@Diksha-11 ok greate! Go ahead.

[2021-03-24 17:00] Diksha-11 commented on #117
@codewithvk sir, your name is showing in assignees.

[2021-03-24 17:02] codewithvk commented on #117
@Diksha-11 Apologies for the mistake

[2021-03-24 17:02] Diksha-11 commented on #117
@codewithvk no problem sir.

[2021-03-24 18:35] abhay27chauhan commented on #89
@singhayushh yes, i was just proposing what i will do if this issue is assigned to me

[2021-03-24 19:11] singhayushh commented on #89
@abhay27chauhan, alright. you may take this issue, I back out for you.

[2021-03-25 05:10] akshay1027 opened #132 "Sign up button is not visible in header"
## **Describe the bug**

- The Signup Button near Signin Button in the header is not visible in the desktop view!

## **Screenshots**

![2021-03-25](https://user-images.githubusercontent.com/65683151/112422006-31f86b80-8d56-11eb-87c3-2aeb400d22b8.png)

[2021-03-25 07:58] lopeselio commented on #97
Can I take this up for gssoc21?

[2021-03-25 14:02] RuchiGitHu commented on #115
Can I design it @purnima143. Please assign this to me for designing Error 404 page.
Thanks in advance...

[2021-03-25 14:11] #115 closed

[2021-03-25 15:28] ishikalohia commented on #132
I would like to work on this issue under gssoc 21.

[2021-03-25 15:30] ishikalohia commented on #132
/assign

[2021-03-25 15:57] akshay1027 commented on #132
hey, @ishikalohia I wanted to work on this, hence created this issue! :)

[2021-03-26 06:30] Sristi27 opened #134 "Feed Page"
## **Describe the bug**

- In feed page navbar is not visible.

## **Possible solution**

- I can work on this issue to fix it.

## **Screenshots**
![Screenshot 2021-03-26 at 12 00 01 PM](https://user-images.githubusercontent.com/53037053/112591727-ce8c3d80-8e2a-11eb-9525-99db65bc7433.png)

[2021-03-26 09:58] arbazalam01 commented on #53
can i work on this issue

[2021-03-26 12:06] #117 closed

[2021-03-26 12:14] codewithvk commented on #132
@akshay1027 go ahead!

@ishikalohia you can look at another issue :)

[2021-03-26 12:14] codewithvk commented on #134
@Sristi27 go ahead!

[2021-03-26 14:18] Sandi-09 commented on #31
can i work on this issue?

[2021-03-26 14:28] Sristi27 commented on #134
@codewithvk I have created the PR. Do look into it and review it!

[2021-03-26 14:50] codewithvk commented on #134
@Sristi27 could you please mention with the issue?

[2021-03-26 14:52] Sristi27 commented on #134
I have mentioned the issue in the previous comment only.After that only I was assigned I believe!

[2021-03-26 15:26] ishikalohia commented on #132
Hii sure :)

[2021-03-26 22:27] MoatazNasr commented on #100
actually i'm not a mentor , also waiting as u for an update :(

On Sun, Mar 21, 2021 at 2:37 PM Himanshu ***@***.***> wrote:

[2021-03-27 04:36] #132 closed

[2021-03-27 04:45] #79 closed

[2021-03-27 09:52] Hardik-07 commented on #31
If this issue not assigned, else I would like to work on this.

[2021-03-27 10:09] hardik7e commented on #116
Okay

[2021-03-27 23:18] abhay27chauhan commented on #89
Pls somebody assign this issue to one of us

[2021-03-29 05:42] #100 closed

[2021-03-29 13:05] bhubesh757 opened #140 "Frontend: Profile Page Code !"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**
i would like to to code for the profile page  , can you assign this to me
- A clear and concise description of what you want to happen.

[2021-03-30 03:59] subhasmitapradhan commented on #113
is the issue already assigned? if not then I would love to be a part of it.

[2021-03-30 05:30] himanshujaidka commented on #8
@maw1a @codewithvk @purnima143 now, pls suggest me that on which API I have to work further or the missing APIs

[2021-03-30 09:36] ShambhaviSharma0110 commented on #113
I already contributed but idk if it's accepted yet

[2021-03-31 06:17] #89 closed

[2021-03-31 06:44] singhayushh commented on #89
Wow.

[2021-04-01 01:03] MoatazNasr commented on #83
any updates moderators ??

[2021-04-02 04:57] #22 closed

[2021-04-02 05:08] purnima143 commented on #53
@SpecTEviL What's the status?

[2021-04-03 23:56] akshay1027 opened #143 "Links in the readme(learning resources) to open in a new tab"
## **Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 06:05] #106 closed

[2021-04-04 12:14] akshay1027 commented on #143
I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:14] #143 closed

[2021-04-04 13:14] vedant-jain03 commented on #116
I want to work on this issue.

[2021-04-04 16:47] #55 closed

[2021-04-04 16:50] purnima143 commented on #113
@subhasmitapradhan Could you work on this issue now...adding about us component and contribution details in homepage?

[2021-04-04 16:50] #120 closed

[2021-04-04 16:52] #54 closed

[2021-04-04 16:53] purnima143 commented on #116
@hardik7e wanna carryon with this issue?

[2021-04-04 16:53] #28 closed

[2021-04-04 16:54] purnima143 commented on #31
@bhubesh757 Wanna contribute in this issue?

[2021-04-04 16:54] #12 closed

[2021-04-04 16:55] purnima143 commented on #109
@BharatiSukanya assigned

[2021-04-04 16:55] vedant-jain03 commented on #116
@purnima143 I want to work in this issue

[2021-04-04 16:56] hardik7e commented on #116
@purnima143 yes

[2021-04-04 16:57] purnima143 commented on #116
@vedant-jain03 You can try to work on other issues or create new one

[2021-04-04 18:06] subhasmitapradhan commented on #113
yes, would love to.

[2021-04-05 02:02] bhubesh757 commented on #31
@purnima143 yes

[2021-04-05 02:12] purnima143 commented on #31
@bhubesh757 Go ahead

[2021-04-05 16:19] srishtij2000 commented on #38
Can I work on this issue?

[2021-04-06 06:10] #21 closed

[2021-04-06 06:11] purnima143 commented on #58
@rohank2502  go ahead

[2021-04-06 06:11] #63 closed

[2021-04-06 06:12] #83 closed

[2021-04-06 06:13] purnima143 commented on #140
@bhubesh757 okk

[2021-04-06 06:15] purnima143 commented on #140
Below are the designs

![Profile Page for other users](https://user-images.githubusercontent.com/57852378/113666835-8217ec00-96cd-11eb-810a-e3e96c8b5c02.png)
![Profile Page (Main)](https://user-images.githubusercontent.com/57852378/113666838-83e1af80-96cd-11eb-8ce5-efe82dcf3331.png)

[2021-04-06 08:24] #7 closed

[2021-04-06 08:24] #9 closed

[2021-04-06 08:25] #10 closed

[2021-04-06 08:26] #97 closed

[2021-04-06 12:31] srisatya1197 opened #144 "Add technology stack with logo in readme file"
I want to improve the technology stack with the logos in readme file . I'm a participant of GSSOC'21 please assign me this issue.

[2021-04-07 05:27] Aniket1103 opened #145 "Frontend: making navbar functional and common between multiple pages"
## **Describe the bug**

- A clear and concise description of what the bug is.
-
Currently, the navbar is not functional it needs to be made functional, i.e. we should be able to navigate between pages using the navbar
and also currently the navbar is only present on the notification page, other pages need to have a common navbar too like the `feed page`, and` add a question` page

## **Possible s

[2021-04-07 05:27] Aniket1103 commented on #145
I would like to work on this issue please assign it to me.

[2021-04-07 12:35] simranbhalla3 commented on #113
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:35] simranbhalla3 commented on #134
I am a Gssoc participant , please assign me this issue.

[2021-04-07 18:51] purnima143 commented on #144
#58 is already there for this issue

[2021-04-07 18:51] #144 closed

[2021-04-07 18:52] purnima143 commented on #145
@Aniket1103  go ahead

[2021-04-08 09:20] himanshujaidka opened #147 "Backend for add questions"
Backend require for the posting questions to the client-side, @purnima143

[2021-04-08 09:41] purnima143 commented on #147
@himanshujaidka go ahead

[2021-04-09 05:09] himanshujaidka opened #148 "Need to update readme file"
Need to add how to set up a backend to a local machine in the readme file, @purnima143 assign it to me.

[2021-04-09 05:11] purnima143 commented on #148
Assigned to u @himanshujaidka

[2021-04-09 06:44] ChitvanRamani22 opened #149 "The form in the signIn page is too simple. I would like to make it more attractive."
## **Describe the bug**
SignIn page too simple
- A clear an
@purnima143 could you please assign me this under gssoc'21.
![Screenshot (468)](https://user-images.githubusercontent.com/68965499/114139741-0a47fc80-992d-11eb-9358-2c7212e624eb.png)

d concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add scree

[2021-04-09 06:47] ChitvanRamani22 opened #150 "SignUp Page"
## **Describe the bug**
The sign page is too simple and not properly aligned on scrolling down the image ends whereas the form continues which is not looking good. I would like to design and align it in a proper manner.
- A clear and concise description of what the bug is.
@purnima143 could you please assign this to me .
![Screenshot (467)](https://user-images.githubusercontent.com/68965499/114140

[2021-04-09 11:07] purnima143 commented on #149
@ChitvanRamani22 What changes will you do here?

[2021-04-09 11:32] ChitvanRamani22 commented on #149
Something like this with proper validations and also will make it look more attractive by providing border radius and border color.

https://user-images.githubusercontent.com/68965499/114173675-265f9400-9955-11eb-8bb2-35f737921e9e.mp4

[2021-04-09 12:24] purnima143 commented on #149
@ChitvanRamani22 Validation part?

[2021-04-09 12:41] ChitvanRamani22 commented on #149
@purnima143 email validation like those @ nd all validations that are required for a correct email.

[2021-04-09 19:38] #147 closed

[2021-04-10 05:39] vedant-jain03 opened #153 "Preloader"
## **Is your feature request related to a problem? Please describe.**

- I want to add preloader to the website.

## **Describe the solution you'd like**

- I will apply it using html,css and js.

[2021-04-10 07:59] mitalirs opened #154 "Update user profile (backend)"
## Creating a route to update user profile

Currently, there is no option available for a user to update his/her profile I will add a patch request inside auth.controller.js folder which will enable the user to update his/her profile

@purnima143 can you please assign this issue to me?

[2021-04-10 18:16] #148 closed

[2021-04-10 18:17] codewithvk commented on #154
@mitalirs go ahead!

[2021-04-10 18:18] codewithvk commented on #153
@vedant-jain03 We are using React Js for the frontend, So if you can do it in React js then I can assign you!

[2021-04-10 18:22] vedant-jain03 commented on #153
Offcourse sir I can do it in react js
I learned react only for my frondend library
Please assign me

[2021-04-10 18:22] vedant-jain03 commented on #153
Offcourse sir I can do it in react js
I learned react only for my frondend library
Please assign me

[2021-04-10 18:22] vedant-jain03 commented on #153
Offcourse sir I can do it in react js
I learned react only for my frondend library
Please assign me

[2021-04-11 05:24] Subham142 opened #155 "Add Navbar to feed page & Remove warnings"
## **Describe the bug**
1) Adding navbar to the feedpage
2) Remove warnings from the console

## **Screenshots**
![image](https://user-images.githubusercontent.com/60570595/114293507-40fc4f00-9ab4-11eb-93eb-1b8e2f495ae9.png)
![Screenshot (68)](https://user-images.githubusercontent.com/60570595/114293508-4b1e4d80-9ab4-11eb-82cf-0ea49838d3f6.png)

[2021-04-11 05:25] Subham142 commented on #155
@codewithvk  please add the labels and assign it

[2021-04-11 08:53] vedant-jain03 commented on #153
https://user-images.githubusercontent.com/76901313/114297933-46b45d80-9ad1-11eb-9633-be4359257b9d.mp4

@codewithvk I have added sample video of Preloader that I made
I use suspense,lazy to fetch and show preload until all the data is being loaded
If you like the theme I will add and make PR of it

[2021-04-11 14:24] #155 closed

[2021-04-11 14:26] #154 closed

[2021-04-11 14:31] purnima143 commented on #153
@vedant-jain03 go ahead

[2021-04-11 15:59] #153 closed

[2021-04-11 16:30] vedant-jain03 opened #159 "Want to add Hovers to all buttons"
## **Is your feature request related to a problem? Please describe.**

- The UI looks great but addition of hovering effect will give it more better look and UI.

## **Describe the solution you'd like**

- Want to add hover effect to buttons of all pages

![bandicam 2021-04-11 21-57-55-811](https://user-images.githubusercontent.com/76901313/114312683-23a99e00-9b11-11eb-8169-4f1aa014fec9.jpg)

[2021-04-11 16:30] vedant-jain03 commented on #159
If valid issue assign me @purnima143 @codewithvk

[2021-04-11 19:34] subhasmitapradhan opened #160 "adding a bit more css to sign in and sign up page"
## Proposal

1.the font size needs to be rearranged.
2.as compared to other pages the sign in and sign up parts look just too simple, so I want to add some more elements to make it look lively.

[2021-04-11 20:15] subhasmitapradhan commented on #159
I would like to work on this issue as I have prior experience with this website as well as I know the colours and themes that will suit it the best.

[2021-04-12 06:16] Subham142 opened #161 "notification page & Ask Qes button"
## **Describe the bug**
1) route the bell icon to a notification page
2) align the "categories" and "connect"
3) add `ask a question` button on navbar

## **Screenshots**

![Screenshot (74)](https://user-images.githubusercontent.com/60570595/114348845-b9cadc00-9b84-11eb-926b-77e854fa81d9.png)

[2021-04-12 06:17] Subham142 commented on #161
@codewithvk assign it please

[2021-04-12 07:12] himanshujaidka opened #162 "font selection is not appropriate"
Need to change the font of the website, need a more professional way
![Screenshot (203)](https://user-images.githubusercontent.com/58654018/114355012-986dee00-9b8c-11eb-944e-85df15bfaacf.png)

[2021-04-12 07:25] himanshujaidka opened #163 "Need to add link field to a question.model.js"
## Proposal

(A clear and concise description of what the proposal is.)
forgot to add link field to the backend system, assign this to me @purnima143 @codewithvk

[2021-04-12 07:33] himanshujaidka opened #164 "Bug: Objects are not valid as a React child (found: [object Promise])."
notification & addaquestion routes are not working in the frontend.
![Screenshot (204)](https://user-images.githubusercontent.com/58654018/114357502-6f9b2800-9b8f-11eb-82d6-7dd42cf060d3.png)

[2021-04-12 08:05] himanshujaidka opened #165 "Spelling mistake in preloader"
![Screenshot (205)](https://user-images.githubusercontent.com/58654018/114361635-f7833100-9b93-11eb-9408-fa7b8c6230ea.png)

[2021-04-12 14:50] #165 closed

[2021-04-12 14:53] codewithvk commented on #164
@himanshujaidka Do you want to work on it?

[2021-04-12 14:54] himanshujaidka commented on #164
No, sorry

[2021-04-13 04:01] himanshujaidka opened #168 "Bug: Home button is missing"
When the user is on the sign-in, signup, feed page, he is unable to find a redirect to the home page button or the link is missing in the navbar.

[2021-04-13 04:27] bhubesh757 commented on #31
@purnima143  sorry for the late reply , can i use firebase , it makes easy ! with simple lines of code

[2021-04-13 06:01] anhushree commented on #38
@purnima143
![image](https://user-images.githubusercontent.com/56672958/114503898-a171c480-9c4b-11eb-94df-0de48418ed9e.png)

I have modified it a little bit, Kindly check it.

https://www.figma.com/file/1gYZlafa8bUZu61ji10unF/Kurakoo?node-id=0%3A1
ArtBoard Name:Feed page(Main)-yellow

[2021-04-13 08:22] #168 closed

[2021-04-13 11:08] ir2010 commented on #162
which font you want to use?

[2021-04-13 11:29] ir2010 commented on #159
@vedant-jain03 go ahead

[2021-04-13 12:34] himanshujaidka commented on #162
like in this all things are looking similar, I am unable to differentiate between the heading, questions, answers. For answers, we should keep the font size small, or it should differ from the questions, and everywhere there is a bold text which is not a good practice.

[2021-04-13 12:48] himanshujaidka commented on #162
but now it's seems good

[2021-04-13 12:49] himanshujaidka commented on #162
![Screenshot (206)](https://user-images.githubusercontent.com/58654018/114554837-c171aa00-9c84-11eb-9076-e0999015e632.png)

[2021-04-13 12:49] #162 closed

[2021-04-13 13:08] himanshujaidka opened #171 "Backend: need to develop answer API"
## Proposal
we have already a questions API, which helps to store the questions into the database. Now we need an answer API that stores the answers corresponding to their questions id.
@codewithvk pls assign this to me :)
(A clear and concise description of what the proposal is.)

[2021-04-13 16:44] #164 closed

[2021-04-13 16:56] Subham142 commented on #164
@purnima143  assign it to me

[2021-04-13 18:08] Subham142 opened #172 "× Error: Objects are not valid as a React child (found: [object Promise]). If you meant to render a collection of children, use an array instead."
Add a question page

![Screenshot (77)](https://user-images.githubusercontent.com/60570595/114599845-44105e80-9cb1-11eb-93d7-2c8fa567b09e.png)

[2021-04-13 18:08] Subham142 commented on #172
@codewithvk @purnima143  assign it to me

[2021-04-13 18:25] codewithvk commented on #172
Hey @Subham142 , This issue has been already solved by @purnima.

[2021-04-13 18:25] #172 closed

[2021-04-13 19:05] subhasmitapradhan opened #174 "content of about us page"
1. research and know all about kurakoo
2. create a content that will not only explain kurakoo and its existence but will be simple enough for a layman to understand.
3.  as I have created the about us page, I know its features the best. And I can do it more swiftly.

[2021-04-13 19:59] mitalirs opened #175 "get all questions created by a particular user"
## **get all questions created by a particular user**

-  Currently, a user cannot get a list of all the questions he/she has created

## **Solution**

- A new request in the question.controller folder that fetches all the questions created by a particular user (requiresSignIn)
- I will work on the backend logic

@purnima143, @codewithvk can you please assign this issue to me?

[2021-04-13 20:03] mitalirs opened #176 "edit question (backend)"
## **edit question (backend)**

- Once a user creates a question there is no feature that allows him/her to edit it

## **Solution**

- An 'editQuestion' request that will allow the user to edit the question that was created by them (requiresSignIn)
- I will work on the backend logic

@purnima143, @codewithvk can you please assign this issue to me?

[2021-04-14 05:02] Subham142 opened #177 "Ask Question"
## Proposal

wanted to make a pop-up (react-modal) for the ask question rather than a page

[2021-04-14 05:50] purnima143 commented on #160
#173 already pr is created for that...so I'm closing this issue

[2021-04-14 05:50] #160 closed

[2021-04-14 06:32] #58 closed

[2021-04-14 06:39] himanshujaidka opened #178 "Error: Objects are not valid as a React child (found: [object Promise]). If you meant to render a collection of children, use an array instead."
## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (209)](https://user-images.githubusercontent.com/58654018/114665071-32af6c80-9d1a-11eb-9fb5-fa497d462ec3.png)

pls assign this to me:)

[2021-04-14 07:23] Subham142 commented on #178
@himanshujaidka  I think this was solved last night

[2021-04-14 07:48] #161 closed

[2021-04-14 08:17] himanshujaidka commented on #178
yes, sorry, confusion with multiple branches

[2021-04-14 08:17] #178 closed

[2021-04-14 10:17] vedant-jain03 opened #181 "Night Mode Feature"
## **Is your feature request related to a problem? Please describe.**

- I want to give this project feature of night mode.

## **Describe the solution you'd like**

- I will give a checkbox like button by enabling it the color theme of the website changes to dark mode.

[2021-04-14 10:18] vedant-jain03 commented on #181
@purnima143 If valid please assign and also recommend me with the main color theme replacing the orange texture.

[2021-04-14 11:17] vedant-jain03 opened #182 "Space between sections and explore button is half hidden and Navbar contain many div."
## **Describe the bug**

- Space between sections and explore button is half hidden
- Navbar section where links to home,signup and signin pages are given, it contain many div section which can be converted into one div and under that one div we can have 3 links respectively.

## **Screenshots**

![bandicam 2021-04-14 16-36-42-987](https://user-images.githubusercontent.com/76901313/114701923-107d1

[2021-04-14 11:18] vedant-jain03 opened #183 "Scroll bar"
## **Is your feature request related to a problem? Please describe.**

- I want to add scroll effect using webkits

[2021-04-14 16:19] Subham142 opened #185 "Frontend -Answer, profile , logout button"
## Proposal

1) Add answer Button to the questions in the feed
2) Add a dropdown name "User" with logout and profile page
       USER
           *Profile
           *Logout

[2021-04-14 17:38] Subham142 commented on #185
@codewithvk  @purnima143  please asign it

[2021-04-14 17:39] Subham142 commented on #177
@codewithvk   @purnima143   please asign it

[2021-04-14 19:18] Subham142 opened #186 "NOT FOUND page"
## Proposal
 Show not found page if the route is incorrect

[2021-04-14 19:18] Subham142 commented on #186
@purnima143 @codewithvk  please assign it

[2021-04-15 04:59] #163 closed

[2021-04-15 05:03] codewithvk commented on #186
@Subham142 Do you design `404Error` page or just want to create a route?

[2021-04-15 05:14] Subham142 commented on #186
@codewithvk  i'll make the route + the page +the styling

[2021-04-15 05:23] himanshujaidka opened #187 "Need to change the styling of the backend"
currently, the backend of this project has a bad styling, in the case of exporting and importing modules. We need to use (import/export)
![Screenshot (212)](https://user-images.githubusercontent.com/58654018/114818082-c21b5500-9dd8-11eb-8151-bd855142c3cd.png)

[2021-04-15 05:49] himanshujaidka opened #190 "Need to connect frontend and backend"
## Proposal

(A clear and concise description of what the proposal is.)
signup/sign-in API are successfully developed so, it's time to connect those APIs with the frontend.
@codewithvk kindly assign this issue to me

[2021-04-15 05:53] #159 closed

[2021-04-15 05:54] #183 closed

[2021-04-15 06:04] codewithvk commented on #187
@himanshujaidka Do you want to work on it?

[2021-04-15 06:10] #171 closed

[2021-04-15 06:12] purnima143 commented on #177
@Subham142 ya you can work in this issue

[2021-04-15 06:34] #150 closed

[2021-04-15 06:59] #149 closed

[2021-04-15 10:29] himanshujaidka commented on #187
yes

[2021-04-15 10:56] himanshujaidka opened #192 "Need reducers and constants file"
## Proposal

(A clear and concise description of what the proposal is.)
This proposal is regarding the #190 issue, actually, the task for connecting the backend to the frontend is big, so I want to break it into small chunks. In this, I am raising an issue, which demands the reducers and constants file. I am working on this issue. @codewithvk kindly label this issue also, I will connect the backen

[2021-04-15 11:35] codewithvk commented on #187
@himanshujaidka go ahead!

[2021-04-15 13:17] codewithvk commented on #176
@mitalirs Go ahead!

[2021-04-15 14:38] ir2010 commented on #181
@purnima143 please suggest him about the color theme

[2021-04-15 16:59] ChitvanRamani22 opened #193 "Footer for the website."
I would like to design an attractive footer for the website it will also contain some important links.
@purnima143 please assign this to me.

[2021-04-15 18:09] purnima143 commented on #181
@vedant-jain03 use brown color as background for dark theme...and for font use more up of orange or creame or white colors

[2021-04-16 05:59] ir2010 commented on #182
could you explain what's the resolution of the screen where you're experiencing this? @vedant-jain03

[2021-04-16 06:04] #186 closed

[2021-04-16 06:08] vedant-jain03 commented on #182
1366 x 768

[2021-04-16 06:17] #185 closed

[2021-04-16 13:35] himanshujaidka opened #198 "backend: tags and messages"
while adding questions and answers to the database, the user has to add tags but I forgot to wrap tags in an array. The tags should be wrap inside an array. I want to work on this and need to display messages when the user is not filling the all the necessary details

[2021-04-16 17:39] himanshujaidka opened #200 "backend: confirm password"
need to add confirm password field to signup API

[2021-04-16 18:53] ChitvanRamani22 opened #202 "Scroll up button."
I would like to add a scroll up button which will be available on every page and will take the user directly to the top of the page.
@purnima143 @codewithvk please assign this to me.

[2021-04-17 04:38] ChitvanRamani22 commented on #53
@purnima143 @codewithvk i would like to work on this.

[2021-04-17 04:55] #200 closed

[2021-04-17 04:57] #175 closed

[2021-04-17 05:33] vedant-jain03 opened #204 "Want to add sticky social media links menu"
## **Is your feature request related to a problem? Please describe.**

- Want to add sticky social media menu

## **Describe the solution you'd like**

- I will make sticky navbar like menu floating to left of the screen and showing an options to social media handles.

###### Do you want to work on this issue - [Yes]

[2021-04-17 05:35] anhushree commented on #38
@let me know what to do next, if this design is agreed can I merge the PR?

[2021-04-17 07:07] codewithvk commented on #202
@ChitvanRamani22 go ahead!

[2021-04-17 15:58] srisatya1197 opened #206 "I want to add no.of forks,pr's, stars and other in the readme file ."
I want to add no.of forks,pr's, stars and other in readme file .
Like:
![ss5](https://user-images.githubusercontent.com/78905067/115119007-e4bd9180-9fc3-11eb-92d0-d3443cace202.png)

[2021-04-17 16:04] #192 closed

[2021-04-17 16:05] #190 closed

[2021-04-17 16:06] #116 closed

[2021-04-17 16:08] #174 closed

[2021-04-18 03:52] #38 closed

[2021-04-18 04:22] #176 closed

[2021-04-18 04:28] codewithvk commented on #206
@srisatya1197 Go ahead!

[2021-04-18 05:52] srisatya1197 commented on #206
@codewithvk Thank you for assigning.

[2021-04-18 06:16] #198 closed

[2021-04-18 06:18] codewithvk commented on #204
Hey, @vedant-jain03  Can you describe more?

Also please mention do you want to work on it or not by [Yes or no].

[2021-04-18 06:20] himanshujaidka opened #207 "axios.js"
## Proposal

(A clear and concise description of what the proposal is.)

for connecting backend to frontend, we need Axios library and inside axios.js HTTP requests will be performed

###### Do you want to work on it? - [Yes/No]
I want to work @codewithvk @purnima143

[2021-04-18 06:25] codewithvk opened #208 "Refactor Component File."
## **Is your feature request related to a problem? Please describe.**

- In `client/src/` There are two folders that have components.

## **Describe the solution you'd like**

- We need to merge into one folder called `components` and remove the extra folder also change the import link accordingly.

###### Do you want to work on this issue - [No]

[2021-04-18 06:27] codewithvk commented on #207
Go ahead!

[2021-04-18 06:40] vedant-jain03 commented on #204
![bandicam 2021-04-18 12-09-13-235](https://user-images.githubusercontent.com/76901313/115136676-fb54fe80-a03e-11eb-890c-03c4c96db4b0.jpg)

I will give colors according to our theme that is orange type.

[2021-04-18 06:45] himanshujaidka opened #210 "buggy homepage.js"
![Screenshot (214)](https://user-images.githubusercontent.com/58654018/115136804-cc8b5800-a03f-11eb-8513-faabd04c8e63.png)

I am not interested to work on this bug

[2021-04-18 06:48] himanshujaidka commented on #210
wants to work

[2021-04-18 07:24] codewithvk commented on #204
@vedant-jain03 LG :) Go ahead!

[2021-04-18 07:45] ChitvanRamani22 commented on #208
@codewithvk i would like to take this up.

[2021-04-18 07:45] himanshujaidka commented on #208
@codewithvk linked pr #211

[2021-04-18 07:49] himanshujaidka commented on #208
@ChitvanRamani22 sorry I forgot to leave a comment, if you are interested then pls have a look at #187, it is similar to this

[2021-04-18 07:49] ChitvanRamani22 commented on #208
@himanshujaidka
Have u worked on it without getting assigned.

[2021-04-18 07:51] himanshujaidka commented on #208
sorry, I am closing my pr, if you are interested then pls go-ahead

[2021-04-18 08:06] codewithvk commented on #208
If you un-assigned yourself, Then please inform the mentor.

[2021-04-18 08:06] codewithvk commented on #208
@ChitvanRamani22 Go ahead!

[2021-04-18 08:12] #181 closed

[2021-04-18 08:54] himanshujaidka commented on #208
ok

[2021-04-18 14:02] Subham142 commented on #210
@codewithvk  when i fix this this another error rises up
![Screenshot (102)](https://user-images.githubusercontent.com/60570595/115148359-cb2c5080-a07c-11eb-9363-e08a518dda6b.png)

[2021-04-18 14:04] Subham142 commented on #210
I'm not able to see error here, if you could suggest me

[2021-04-18 14:15] #210 closed

[2021-04-18 14:17] codewithvk commented on #210
@Subham142 @himanshujaidka now, can you confirm me all thing working fine or not?

[2021-04-18 14:31] vedant-jain03 opened #218 "converting home page js and css into clean code"
## **Describe the bug**

- I want to convert home page js and css into clean code

## **Possible solution**

- I will make code simple and easy to understand

###### Do you want to work on this issue - [Yes]

[2021-04-18 14:32] vedant-jain03 commented on #218
@codewithvk Please assign me the issue.

[2021-04-18 15:12] himanshujaidka commented on #210
@codewithvk yes working fine now

[2021-04-18 15:15] codewithvk opened #219 "testing bot"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

###### Do you want to work on this issue - [Yes/No]

[2021-04-18 15:15] #219 closed

[2021-04-18 15:17] Subham142 opened #220 "Backend: Endpoints for Uploading image"
## Proposal

add all the config ,routes for uploading image in the database
use multer for the multipart uploads

###### Do you want to work on it? - [Yes/No]
yes

[2021-04-18 15:21] codewithvk opened #221 "Testing bot 1"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

###### Do you want to work on this issue - [Yes/No]

[2021-04-18 15:22] #221 closed

[2021-04-18 15:26] akshita-kamani opened #222 "124"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

###### Do you want to work on this issue - [Yes/No]

[2021-04-18 15:27] #222 closed

[2021-04-18 18:30] mitalirs opened #225 "edit answer (backend)"
## edit answer (backend)

- Once a user creates an answer there is no feature that allows him/her to edit it

## **Solution**

- An 'editAnswer' request that will allow the user to edit the answer that was created by them (requiresSignIn)
- I will work on the backend logic

@purnima143, @codewithvk can you please assign this issue to me

###### Do you want to work on this issue - Yes

[2021-04-19 05:12] mitalirs opened #226 "delete answer (backend)"
## delete answer (backend)

- Once a user creates an answer there is no feature that allows him/her to delete the answer posted

## **Solution**

- A 'deleteAnswer' request that will allow the user to delete the answer that was created by them (requiresSignIn)
- I will work on the backend logic

@purnima143, @codewithvk can you please assign this issue to me

###### Do you want to work on this iss

[2021-04-19 05:17] mitalirs opened #227 "delete question (backend)"
## delete question (backend)

- Once a user creates a question there is no feature that allows him/her to delete the question posted

## **Solution**

- A 'deleteQuestion' request that will allow the user to delete the question that was created by them (requiresSignIn)
- As the user will delete the question (by passing question id as parameter) all the answers with
questionId = Id of question whic

[2021-04-19 05:22] #204 closed

[2021-04-19 11:13] anshika208 opened #228 "adding docker to the project"
## **Is your feature request related to a problem? Please describe.**

- as the project contains both the frontend and backend installing all dependencies becomes probelm sometimes.

## **Describe the solution you'd like**

- i want to add dockerfiles so that the project can be run using docker too

###### Do you want to work on this issue - [Yes]

[2021-04-19 17:36] anshika208 commented on #228
@codewithvk can i work on this?

[2021-04-19 17:44] Subham142 commented on #220
@purnima143  @codewithvk  please asssign it

[2021-04-20 05:29] subhasmitapradhan opened #231 "designing ui/ux for the android version of the website"
nowadays most people prefer a smart phone rather than desktop to look for the solutions of their problems.
Sometime in the future we will oviously need the android version of the app. So better now than future.

keeping the originality of the website creating the android version .
please let me know if I can work on this?

[2021-04-20 05:32] codewithvk commented on #227
@mitalirs go ahead!

[2021-04-20 05:53] himanshujaidka opened #232 "Connect: final proposal"
This is the last step for connecting the backend to the frontend.
@codewithvk @purnima143 pls assign

###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-04-20 05:56] #207 closed

[2021-04-20 07:54] himanshujaidka opened #233 "fields are missing in frontend"
first name, Lastname fields are missing in the frontend and some fields are also missing in the schema file as well.

###### Do you want to work on this issue - [Yes/No]
@codewithvk @purnima143 pls assign this issue to me
![Screenshot (215)](https://user-images.githubusercontent.com/58654018/115358794-a7335100-a1db-11eb-94ea-aff82849de07.png)

[2021-04-20 11:12] #208 closed

[2021-04-20 11:14] codewithvk commented on #233
@himanshujaidka request to you, without assigning don't make PR.

[2021-04-20 11:22] himanshujaidka commented on #233
sorry, I will take care of it

[2021-04-20 11:55] himanshujaidka commented on #233
@codewithvk pls assign now

[2021-04-20 13:56] #233 closed

[2021-04-20 14:28] #226 closed

[2021-04-20 14:31] codewithvk commented on #232
@himanshujaidka go ahead!

[2021-04-20 14:31] codewithvk commented on #231
@purnima143 look it ^

[2021-04-20 15:16] #227 closed

[2021-04-20 15:22] mitalirs opened #239 "No 2 answers for 1 question by the same person (backend)"
## Same person answering a question more than once

- Currently while creating an answer a user can create more than 1 answers for a single question.

## **Solution**

- While creating an answer the second time for the same question a user has previously answered, he/she will get a warning message saying 'you have already answered this question, wish to edit that?'

I wish to work on the backend l

[2021-04-20 15:28] mitalirs opened #240 "Answering a valid question"
## Answering a valid question

- Currently while creating an answer a user enters the questionId as a string which is sent using the POST request. There is a possibility that a user can enter a wrong questionId

## **Solution**

- The questionId sent as a part of the POST request (createAnswer) should be verified, only then a user should be allowed to answer. I will add the verification part in th

[2021-04-21 07:24] codewithvk commented on #240
#239 both assign you and please make one PR for both with level 2

[2021-04-21 07:29] mitalirs commented on #240
Sure, thank you @codewithvk for assigning the issues!

[2021-04-21 10:52] #177 closed

[2021-04-21 11:06] wajeehamushtaq opened #243 "Adding Tech stack badgess"
Hi, I am a GSSOC'21 participant I want to contribute in Kurakoo. Can I update the Readme file by adding tech stack badges

[2021-04-21 14:44] himanshujaidka opened #245 "backend: search questions"
## Proposal

(A clear and concise description of what the proposal is.)

search questions feature in the backend

###### Do you want to work on it? - [Yes/No]
I want to work, @codewithvk @purnima143 pls assign

[2021-04-21 14:47] himanshujaidka opened #246 "connect signin to the backend"
## Proposal

(A clear and concise description of what the proposal is.)

need to connect signing to the backend
###### Do you want to work on it? - [Yes/No]
@purnima143 @codewithvk pls assign this to me

[2021-04-21 21:38] #239 closed

[2021-04-21 21:38] #240 closed

[2021-04-21 21:40] #225 closed

[2021-04-21 21:42] codewithvk commented on #243
@wajeehamushtaq go ahead!

[2021-04-22 11:54] mitalirs opened #249 "delete profile (backend)"
## **delete profile (backend)**

- Currently, a user cannot delete his/her profile. I wish to create a route(requiresSignIn) for the same

## **Solution**

- Whenever a user will delete his/her profile the User collection will get updated
- All the answers posted by that user will be deleted
- The questions would not be deleted instead the createdBy field in those questions will have a value = id

[2021-04-22 12:43] mitalirs opened #250 "upvote/downvote answer (backend)"
## **upvote/downvote answer**

- Currently, a user cannot upvote/downvote any answer. I wish to create 2 separate routes (requiresSignIn) for this

## **Solution**

- 2 int fields, upvotes and downvotes in the answer model (to keep a count)
- 2 array fields called upvotedAns and downvotedAns in the user model. They will contain the ids of the answers the user has upvoted/downvoted
- a user can eit

[2021-04-22 12:46] mitalirs opened #251 "fetch answers (backend)"
## **fetch answers**

- Currently, there is no route that enables a user to fetch all the answers to a particular question

## **Solution**

- Create a request (requiresSignIn) which will take the question id as a parameter and fetch all the answers to that question

I wish to work on the backend part of this
@purnima143, @codewithvk can you please assign this issue to me?

###### Do you want to w

[2021-04-22 13:31] codewithvk commented on #251
@mitalirs Humbly request to you, please don't mention in every place. If you did not get any response in two or more days then you can mention us. Mentors are for you. Hope you understand :)

[2021-04-22 13:33] purnima143 opened #252 "Develop the Homepage of the site according to given UI"
## **Problem**
Currently, on our Kurakoo site, there is a lack of consistency in UI. All the contributors did a great job in designing but to follow one flow we have to change the UI that will give clarity to backend people also.

## **Possible solution**
- Below is the UI of the upcoming homepage.
- Let's use the **Material-UI** framework for the frontend. **Let's stick to one framework only.**

[2021-04-22 14:06] subhasmitapradhan commented on #231
sure...I can wait. do let me know when the web app is done.

[2021-04-22 14:08] mitalirs commented on #251
Sure, extremely sorry for the inconvenience that was caused!

[2021-04-22 14:17] subhasmitapradhan opened #254 "adding more css to the sign up page"
ADDING MORE CSS TO THE SIGN UP PAGE
The sign up page is not as lively as the sign in page.
TASK:
1.Adding colours to the sign up form
2.Changing the font used
3.Adding some more css like hover effects
4.designing it to make it eye pleasing.

![image](https://user-images.githubusercontent.com/78353431/115728540-35593400-a3a2-11eb-904f-c0d6af335927.png)

###### Do you want to work on this issue - [Y

[2021-04-22 14:25] vedant-jain03 opened #256 "Want to Re-edit Contributor section and new About us section in Home Page"
## **Is your feature request related to a problem? Please describe.**

- Want to Re-edit Contributor section and new About us section in Home Page

## **Describe the solution you'd like**

- Want to Re-edit Contributor section and new About us section in Home Page

###### Do you want to work on this issue - [Yes/No]

[2021-04-22 14:49] purnima143 commented on #256
only these two sections?

[2021-04-22 14:50] purnima143 commented on #254
@subhasmitapradhan  wait I will share the new design

[2021-04-22 15:05] vedant-jain03 commented on #256
I just want Flow like
1. Welcome page as we have
2. About Us page (Kurakoo Main Purpose)(Height 100vh)
3. Contributor Section(Kurakoo Collaborators and Contributors)(Height 60vh)
4. Footer

I also want to add Mentor Profile Card section but for this I will raise new issue and take it forward

[2021-04-22 15:58] purnima143 commented on #256
@vedant-jain03 #252 work on this issue

[2021-04-22 19:14] #243 closed

[2021-04-22 19:18] #232 closed

[2021-04-22 19:51] #134 closed

[2021-04-23 02:11] vedant-jain03 commented on #252
@purnima143 I want to work on this issue

[2021-04-23 02:15] vedant-jain03 commented on #252
I will also enable Dark Mode as I did before in Navbar section.
I just wanted to know that the vectors which @purnima143 Used above are available ?
If available it will be good for me

[2021-04-23 05:05] shrishti-c opened #257 "Adding remember me option in login form"
Adding remember me feature with the help of cookies in login form.

###### Do you want to work on this issue - [Yes]

[2021-04-23 05:42] vedant-jain03 commented on #252
@purnima143 Could you please provide me with the vectors you have used in Design

[2021-04-23 06:03] purnima143 commented on #252
@vedant-jain03 All vectors, illustrations, icon, etc are present in **assets folder->NewUI folder->homepage folder**

[2021-04-23 06:04] #256 closed

[2021-04-24 06:28] himanshujaidka commented on #246
@codewithvk @purnima143 pls assign

[2021-04-24 06:37] himanshujaidka opened #259 "backend: need to add space feature"
https://www.quora.com/spaces
like in quora we have a spaces option, I would like to add a functionality like this
###### Do you want to work on this issue - [Yes/No]
yes, I want to work

[2021-04-24 06:51] #252 closed

[2021-04-24 07:15] purnima143 commented on #250
@mitalirs You can start working in this issue

[2021-04-24 07:15] purnima143 commented on #249
@mitalirs go ahead

[2021-04-24 07:52] himanshujaidka opened #260 "some minor bugs"
## **Describe the bug**

- A clear and concise description of what the bug is.
the new homepage is unable to load due to some wrong imports and res is not defined inside user.actions.js and signup and login links are missing

###### Do you want to work on this issue - [Yes/No]
I want to work

[2021-04-24 08:41] #260 closed

[2021-04-24 09:26] vedant-jain03 opened #262 "I want to add Dark Mode to New UI Home Page"
## **Is your feature request related to a problem? Please describe.**

- I want to add Dark Mode to New UI Home Page

## **Describe the solution you'd like**

- I already did dark mode in recent Homepage UI I want to implement in this also with more Amazing colors hue changes.

###### Do you want to work on this issue - [Yes]

[2021-04-24 09:26] vedant-jain03 commented on #262
@purnima143 If you think This is valid Please assign me as I did this in last Homepage UI

[2021-04-24 09:29] vedant-jain03 opened #263 "Want to add Social navbar."
## **Is your feature request related to a problem? Please describe.**

- I Want to add Social navbar section where the links of Social media handles of Kurakoo will be their.

## **Describe the solution you'd like**

_ Using HTML,CSS ,hover effect and Material UI icon

###### Do you want to work on this issue - [Yes]

[2021-04-24 10:58] #220 closed

[2021-04-24 11:08] ChitvanRamani22 opened #265 "Adding a chatbot"
I observed that there is no chatbot in the website which needs to be there as there are lots of benefits of having chatbots like-
client engagement will be increased
service will also be increased
Its trending too.
@purnima143 @codewithvk please assign this to me.

[2021-04-24 12:02] himanshujaidka commented on #265
@ChitvanRamani22 I think this feature will implement later once the website will be functional or deployed. Besides this, there are so many other things that need attention.

[2021-04-24 12:15] codewithvk commented on #265
@ChitvanRamani22 Also I think that There is no need to use a chatbot for this project. @purnima143 What's your opinion?

[2021-04-24 12:16] codewithvk commented on #263
@vedant-jain03 can you describe more about it?

[2021-04-24 12:43] vedant-jain03 commented on #263
@codewithvk #204 as I did in this I did this feature in previous HOMEPAGE ui but I wanted to implement same in new UI

[2021-04-24 12:50] ChitvanRamani22 commented on #265
No worries its not necessary that things that you pay attention to would be same for others also. Everyone has different way.
I hope mentors are there to tell all these things.

[2021-04-24 12:51] ChitvanRamani22 commented on #265
Ok @codewithvk i thought it you be good to great and guide the user to signup or login first and all those things but its fine we can focus on other things.

[2021-04-24 13:18] purnima143 commented on #262
@vedant-jain03 Do u think it's needed for the home page? Can you make the dark mode from the signup sign-in page? Don't show the dark mode button on the homepage.

[2021-04-24 13:19] purnima143 commented on #257
@shrishti-c  Go ahead

[2021-04-24 13:35] purnima143 commented on #263
@vedant-jain03 Let's skip it for now. We don't have any social media handles

[2021-04-24 14:32] vedant-jain03 commented on #262
So I should make dark mode for Sign up and Sign in only?
I think that their is lot missing in Homepage as compared to modern Website like animations, so I think to look more attractive we should definitely go for Dark mode for Homepage.
My next issue will be of animation of section on Scrolling so that it will look more Professional
What do you think?
Correct me if I am wrong

[2021-04-24 19:59] atharvaze opened #266 "adding session management using jwt"
## **Is your feature request related to a problem? Please describe.**
Persisting session of the user when they log in.
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Session management using jwt. Accessing user information through tokens and user data.

- A clear and concise description of what you want to happen.
- User logs in and gets a token and

[2021-04-24 20:00] atharvaze commented on #266
let me work on this issue @purnima143. Im a gssoc participant.

[2021-04-25 05:10] codewithvk commented on #266
@atharvaze Go ahead!

[2021-04-25 05:11] purnima143 commented on #262
@vedant-jain03 except homepage place dark mode everywhere...signup sign in, feed page, profile etc

[2021-04-25 05:22] codewithvk commented on #266
@atharvaze Can you see the codebase once! After that, can you give more clarify this issue?

[2021-04-25 05:32] codewithvk opened #267 "Backed Documentation"
## Proposal

Write Clear Explanation of all API in `server/APIDOCS.md`

For reference, You can see [here](https://gist.github.com/iros/3426278)

ps:- If you work on this issue and stuck it at any point you can contact me on Discord :)

###### Do you want to work on it? - [No]

[2021-04-25 07:12] himanshujaidka commented on #267
interested, pls assign

[2021-04-25 07:13] #246 closed

[2021-04-25 07:19] ChitvanRamani22 commented on #140
@codewithvk @purnima143 i would like to work on this.

[2021-04-25 07:46] codewithvk commented on #140
@bhubesh757 Any update?

[2021-04-25 09:46] Subham142 opened #268 "Unhandled Rejection (TypeError): Cannot destructure property 'status' of 'error.response' as it is undefined."
![Screenshot (107)](https://user-images.githubusercontent.com/60570595/115988887-332cea80-a5d9-11eb-9737-c8f5da333780.png)

###### Do you want to work on this issue - [No]

[2021-04-25 09:52] Subham142 opened #269 "Frontend: Add custom page titles for every page"
## Proposal
in every page(feed/sign in/signup) we see only "Kurakoo|Always seek knowledge"

it should change according to the pages

## approch
->Use of react-helmet

###### Do you want to work on it? - [Yes]

[2021-04-25 10:04] purnima143 commented on #269
@Subham142  go ahead

[2021-04-25 14:02] yashikajotwani12 opened #271 "Want to add content to Home page."
## **Describe the bug**

- I want to add content to the Home page as discusses in #252 screenshot

## **Possible solution**

- I will write content and align accordingly.

###### Do you want to work on this issue - [Yes]

[2021-04-25 14:20] yashikajotwani12 opened #272 "Non-Alignment of Contact number in Sign-up page."
## **Describe the bug**
- The contact number label on sign-up page is not allign.

## **Possible solution**
- Wil increase the line-height and give the space between contact and number.
## **Screenshots**
![Screenshot (72)](https://user-images.githubusercontent.com/77020164/115996897-be6ca700-a5fe-11eb-96ab-5ca00c76c53f.png)

###### Do you want to work on this issue - [Yes]

[2021-04-25 18:19] atharvaze commented on #266
It's done already. Closing this issue

[2021-04-25 18:19] #266 closed

[2021-04-26 09:48] bhubesh757 commented on #140
@codewithvk please assign to others, i got strucked with ma exams

[2021-04-26 10:53] Subham142 commented on #268
@codewithvk @purnima143  is this happening to me or ..?

[2021-04-26 17:44] #267 closed

[2021-04-26 18:37] #202 closed

[2021-04-26 18:37] #193 closed

[2021-04-27 06:31] codewithvk commented on #272
#254

[2021-04-27 16:05] #269 closed

[2021-04-27 18:03] ChitvanRamani22 opened #277 "Images folder"
Creating a images folder inside /client/src/components and updating the routes accordingly.
@codewithvk please assign this to me.

[2021-04-27 18:21] codewithvk commented on #277
@ChitvanRamani22 Can you describe more about it???

[2021-04-27 18:51] ChitvanRamani22 commented on #277
@codewithvk at present the images are not inside a particular folder they are just inside components which make it look a bit messy.
Organizing them inside a image folder would be good.

[2021-04-27 18:52] ChitvanRamani22 opened #278 "Footer in homepage."
As the new homepage UI is added there is not footer on that page and no scroll to top button on any page i would like to add them
@ir2010 @codewithvk please assign this to me.

[2021-04-28 05:02] vedant-jain03 opened #279 "Want to make Mentor's Profile Cards in Homepage"
## **Is your feature request related to a problem? Please describe.**

- I want to give Mentor's Cards Section after Our Reach section.

## **Describe the solution you'd like**

- I will make a div and inside that div I will make card Components.

###### Do you want to work on this issue - [Yes]

[2021-04-28 09:49] Subham142 opened #280 "Fronted : Answer Modal"
## Proposal
onclicking the answer button a pop up appears to post ans to the question
![Screenshot (109)](https://user-images.githubusercontent.com/60570595/116384040-18ef4880-a835-11eb-86fd-8a65d3b775e9.png)

###### Do you want to work on it? - [Yes]

[2021-04-28 09:50] Subham142 opened #281 "Frontend: Redo the Ask question button"
###### Do you want to work on this issue - [Yes]

[2021-04-28 10:01] Subham142 opened #282 "× Error: Objects are not valid as a React child (found: [object Promise]). If you meant to render a collection of children, use an array instead."
## **Screenshots**

![Screenshot (110)](https://user-images.githubusercontent.com/60570595/116385732-b8f9a180-a836-11eb-962c-835005c08b75.png)

###### Do you want to work on this issue - [Yes]

[2021-04-28 14:44] #251 closed

[2021-04-28 14:49] #249 closed

[2021-04-29 06:07] #282 closed

[2021-04-29 16:13] #259 closed

[2021-04-30 07:19] #277 closed

[2021-04-30 07:25] vedant-jain03 commented on #279
@codewithvk
Can you please provide me with the mentor's information of this project, so that I can get started with the work.

[2021-04-30 07:38] vedant-jain03 commented on #279
@codewithvk
I have one idea
Should I make one more page named Team where profile cards of Main Mentors and then name and image of All contributors will be their.
I will use github-API to do it and I can implement very easily .
If you allow me I can make whole new page of Team of Kurakoo.

[2021-04-30 07:54] codewithvk commented on #279
@vedant-jain03 You can get information of mentor by [here](https://github.com/purnima143/Kurakoo#project-mentors-)

Also, You can create an about us page where one section for Project admin and project mentor and the other section is for contributors.

You can get Contributor's name & more info by this [API](https://api.github.com/repos/purnima143/Kurakoo/contributors)

[2021-04-30 08:37] #278 closed

[2021-04-30 08:39] ChitvanRamani22 opened #289 "Scroll to top"
## **Describe the bug**

- Someone has unknowingly removed the scroll to top button and its not showing up on any of the page

###### Do you want to work on this issue - [Yes/No] Yes
@codewithvk please assign this to me.

[2021-04-30 11:43] ChitvanRamani22 opened #291 "Several issues"
## **Describe the bug**

404 page is very improperly aligned.
Hovering color on side bar of feed page is extremely dark.

## **Possible solution**

-Add a new responsive 404 page as shown in ss.
Adding light color on hovering.

## **Screenshots**
Old 404 page.
![20210430_171022.jpg](https://user-images.githubusercontent.com/68965499/116690444-014fc580-a9d7-11eb-95fc-150a177fcab8.jpg)
New 404 page.

[2021-04-30 14:24] #289 closed

[2021-05-01 02:27] #281 closed

[2021-05-02 03:16] #279 closed

[2021-05-02 13:39] #291 closed

[2021-05-03 08:40] ChitvanRamani22 opened #295 "Animated Counter"
I want to add an animated counter on scroll in the homepage for our reach section.
When we scroll down the count start from 0 and end at the value that we want, which will look good.

https://user-images.githubusercontent.com/68965499/116856562-fab09080-ac18-11eb-829a-1d6de3e2ae2b.mp4
I have added in contributor section, will add to all three cards in our reach section.
###### Do you want to work

[2021-05-03 09:34] SKV-programmer commented on #231
Hi @subhasmitapradhan I can design the UI and high fidelity wireframes for the mobile app in Figma. Can you assign me this task  ?

[2021-05-03 12:25] #262 closed

[2021-05-03 12:28] #280 closed

[2021-05-03 16:18] himanshujaidka opened #299 "Too many bugs"
## **Describe the bug**
While compiling frontend there are too many bugs

###### Do you want to work on this issue - [Yes/No]
No

[2021-05-03 19:16] Subham142 opened #300 "Fronted: Add a simple Chat-bot"
###### Do you want to work on it? - [Yes]

[2021-05-03 19:21] ChitvanRamani22 commented on #299
@codewithvk i want to work on this. Please assign this to me.

[2021-05-03 19:24] ChitvanRamani22 commented on #300
@Subham142 i opened the same issue 9days but came to know that we don't need chatbot for this project you can see #265

[2021-05-03 21:49] naqeeb2710 commented on #187
hey can you assign me this issue?

[2021-05-04 03:05] codewithvk commented on #187
@naqeeb2710 Go ahead! Make sure you confirm/check all API working fine or not after your changes.You can check docs [here](https://github.com/purnima143/Kurakoo/tree/master/server/API%20DOCS)

[2021-05-04 05:23] #300 closed

[2021-05-04 06:32] #299 closed

[2021-05-04 21:06] Furquan712 commented on #187
I would like to work on this, will you assign me?

[2021-05-05 01:07] #245 closed

[2021-05-06 11:12] vedant-jain03 opened #303 "Scrolling Animation on Elements of Homepage"
## **Is your feature request related to a problem? Please describe.**

Scrolling Animation on Elements of Homepage

## **Describe the solution you'd like**

Using AOS

###### Do you want to work on this issue - [Yes/No]

[2021-05-07 07:11] #295 closed

[2021-05-08 10:59] ChitvanRamani22 opened #305 "Show/Hide Password"
I want to add show and hide password feature in signin and signup form.
###### Do you want to work on this issue - [Yes/No]Yes
@codewithvk please assign this to me.

[2021-05-08 14:35] himanshujaidka opened #307 "backend: get request for spaces"
user is not able to see the available spaces, so I want to display it using get

###### Do you want to work on it? - [Yes/No]
Yes I want to work

[2021-05-08 15:05] himanshujaidka opened #308 "backend: restricts the user"
## **Is your feature request related to a problem? Please describe.**
It would be great if we restrict the user, that he or she will not be able to create more than 2 spaces.

###### Do you want to work on this issue - [Yes/No]
Yes, I want to work @codewithvk pls assign

[2021-05-08 16:01] himanshujaidka commented on #268
@codewithvk we need to work on this also, pls suggest your review

[2021-05-09 04:25] #305 closed

[2021-05-10 06:59] ChitvanRamani22 opened #310 "Splash Screen"
Add splash screen to all the pages.
###### Do you want to work on this issue - [Yes/No] Yes
@codewithvk please assign this to me.

[2021-05-11 16:34] Subham142 opened #312 "Frontend: ProfileEditScreen"
## Proposal

the page where the user could update their name email..

###### Do you want to work on it? - [Yes]

[2021-05-12 09:36] Subham142 commented on #312
@purnima143  @codewithvk  plzz assign it to me

[2021-05-13 13:42] Subham142 opened #313 "Backend: Admin endpoints"
## Proposal
add admin feature to userschema and add admin middleware

###### Do you want to work on it? - [Yes]

[2021-05-13 14:16] himanshujaidka commented on #307
@codewithvk pls assign

[2021-05-13 15:11] himanshujaidka opened #315 "backend: get spaces by id & delete"
## **Is your feature request related to a problem? Please describe.**
I want to add the get spaces by id feature and delete feature to it

###### Do you want to work on this issue - [Yes/No]
Yes I want to work @codewithvk @purnima143 pls assign

[2021-05-13 15:49] #310 closed

[2021-05-13 15:49] #307 closed

[2021-05-13 18:59] himanshujaidka opened #316 "Responsive: make frontend responsive"
## **Describe the bug**

The frontend is not responsive in mobile view

## **Possible solution**

we need a discussion on it

###### Do you want to work on this issue - [Yes/No]
It should be a collaborative one
@purnima143 @ir2010 @codewithvk

[2021-05-14 17:10] Subham142 opened #319 "Backend: Admin make endpoints to fetch all the users, questions and answers"
###### Do you want to work on it? - [Yes]

[2021-05-15 06:26] ChitvanRamani22 opened #320 "TeamPage"
I want to improve the UI of cards of admin and mentors in team page.
I will add flip cards that will contain name  and profile pic on the front side and github link on the back.
@codewithvk please assign this to me.

[2021-05-15 07:46] srishtij2000 commented on #320
Can I work on this issue?

[2021-05-15 07:46] srishtij2000 commented on #257
Can I work on this issue?

[2021-05-15 10:20] Subham142 opened #321 "Backend: Admin endpoints to fetch user/questions and answers by their id"
###### Do you want to work on it? - [Yes]

[2021-05-15 10:41] Subham142 opened #322 "Frontend: Admin UserList Screen"
admin can see all the users ,edit their profile or delete them

###### Do you want to work on it? - [Yes]

[2021-05-15 13:20] ChitvanRamani22 opened #324 "Frontendbugs"
1)Want to add show hide password feature in useredit screen .
2)make our vision and our reach section of homepage responsive and also add footer to it.
3)Improve the alignment of signin and signup page.

###### Do you want to work on it? - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-15 13:52] Subham142 commented on #268
@himanshujaidka  check this out  https://github.com/axios/axios/issues/266
this is the discussion on this issue I'm not able get it may be this can help

[2021-05-15 14:12] #320 closed

[2021-05-15 15:46] #312 closed

[2021-05-15 17:54] #313 closed

[2021-05-15 21:20] SKV-programmer commented on #231
Hi @purnima143  I designed the login and sign up pages for Kurakoo app. Kindly provide me the feedback so that I can continue to make other screens.
![Login](https://user-images.githubusercontent.com/59953764/118378437-818a4380-b5f1-11eb-8c16-103b46499f22.jpg)
![Sign Up](https://user-images.githubusercontent.com/59953764/118378439-86e78e00-b5f1-11eb-8fab-687955631cdf.jpg)

[2021-05-16 05:49] codewithvk commented on #231
@purnima143 ^

[2021-05-16 06:36] purnima143 commented on #231
@SKV-programmer Website is not completed yet.I didn't plan to have any android application. So, better if you work on other issue related to web. We will see the android part later.

[2021-05-16 19:00] ChitvanRamani22 opened #325 "Social media Sidebar"
I want to add social media sidebar to the homepage of the website.
![20210517_002649.jpg](https://user-images.githubusercontent.com/68965499/118409228-f3709480-b6a6-11eb-969c-4284075de768.jpg)
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk
Please assign this to me.

[2021-05-17 00:27] subhangi2731 commented on #31
@purnima143 please assign this issue to me I want to work on this and will send a pr in 1 day

[2021-05-17 00:28] subhangi2731 commented on #250
@purnima143 please assign this issue to me

[2021-05-17 07:29] #250 closed

[2021-05-17 12:22] #319 closed

[2021-05-17 12:30] vedant-jain03 commented on #303
@purnima143 Please assign me

[2021-05-17 18:16] mitalirs opened #328 "search answers based on various parameters (backend)"
## **search answers based on various parameters**

- Currently, a user does not have the facility to search answers based on various parameters

## **Describe the solution you'd like**

- a route which will fetch answers based on the query string. Following parameters can be used while searching:
1. createdBy
2. tags
3. question id
- currently, the 'tags' field (in the answer model) is currently a

[2021-05-17 18:28] mitalirs opened #330 "tags in question model and sorted answers (backend)"
## **'tags' field in question model and sorted answers**

- Currently, the 'getAnswers' route fetches answers and returns them in a random order
- 'tags' field in 'question' model is a string field

## **Describe the solution you'd like**

- sort the answers fetched by 'getAnswers' route (for a particular question) based on the number of upvotes
- make the 'tags' field to an 'array of strings' fie

[2021-05-17 18:31] himanshujaidka commented on #268
okay

[2021-05-17 19:13] mitalirs opened #331 "get upvoted answers (backend)"
## **get upvoted answers (backend)**

- A user cannot get a list of answers he/she has upvoted

## **Describe the solution you'd like**

- a route to fetch all the answers that a user has upvoted

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-18 08:20] #321 closed

[2021-05-18 08:21] #325 closed

[2021-05-18 08:21] #315 closed

[2021-05-18 08:22] purnima143 commented on #331
@mitalirs Ok work on this issue

[2021-05-18 08:23] purnima143 commented on #330
@mitalirs go ahead

[2021-05-18 08:23] purnima143 commented on #328
@mitalirs OK you can work

[2021-05-18 08:54] Subham142 opened #334 "Backend: Admin delete user, question or answer endpoints"
###### Do you want to work on it? - [Yes]

[2021-05-18 08:59] Subham142 opened #335 "Backend: fetching user's questions and answer endpoints by there id"
###### Do you want to work on it? - [Yes]

[2021-05-19 03:40] #328 closed

[2021-05-19 03:43] #322 closed

[2021-05-19 03:44] #330 closed

[2021-05-19 03:45] #334 closed

[2021-05-19 05:51] #331 closed

[2021-05-19 10:45] himanshujaidka opened #342 "Backend: Discussion on admin"
How to signup for admin? I have not found a post request for the admin, so how to register admin in a database? If this will be verified then pls assign this to me

[2021-05-19 13:07] Subham142 opened #344 "Backend: admin User edit endpoint"
admin can edit
1) make the user admin or remove him/her
2) their name
3) email

###### Do you want to work on it? - [Yes]

[2021-05-19 13:10] Subham142 commented on #342
what I had in my mind was just make a user and make him/her as an admin using postman and that admin can make others as admin. I have put the issue for it. it will save us time.
What's your thought on this @himanshujaidka  @codewithvk ?

[2021-05-19 13:28] himanshujaidka commented on #342
Sorry, I didn’t get your point @Subham142
It is just a simple we have to create a route which allows for the admin/signup and in controller we have to put a simple condition which checks if the req is coming from api/signup then it will perform respectively and store the data of admin corrosponding

[2021-05-19 13:50] Subham142 commented on #342
Seems fair....

.. please do the required changes

[2021-05-19 13:57] mitalirs opened #345 "Comments (backend)"
## **Is your feature request related to a problem? Please describe.**

- Currently, users cannot comment their opinions on a particular response/answer

## **Describe the solution you'd like**

- Create a 'Comments' model with the fields:
1. createdBy (ref to User model)
2. text (string)
3. concernedAnswer (ref to answer model)
 - creating corresponding controller+route files
 - create a 'writeCom

[2021-05-19 13:57] mitalirs opened #346 "delete+edit/update comment (backend)"
## **Is your feature request related to a problem? Please describe.**

- A user cannot delete/update his/her comment as of now

## **Describe the solution you'd like**

add routes to edit/delete the comment (delete and patch requests) by the id

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-19 14:47] mitalirs opened #347 "fetch comments (backend)"
## **Is your feature request related to a problem? Please describe.**

- a user cannot see all the comments for a particular answer Or fetch a particular comment by id

## **Describe the solution you'd like**

- routes for:
1. fetching all comments for a particular answer
2. fetching a comment by id

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-19 17:15] himanshujaidka commented on #342
@codewithvk pls assign

[2021-05-19 17:22] himanshujaidka opened #348 "backend: bookmarks questions"
###### Do you want to work on it? - [Yes/No]
I want to work on this @codewithvk @purnima143

[2021-05-19 18:42] purnima143 commented on #345
@mitalirs okkk assigned to you

[2021-05-19 18:43] purnima143 commented on #348
@himanshujaidka okk work on this issue

[2021-05-19 18:44] purnima143 commented on #344
@Subham142 okkay go ahead

[2021-05-20 05:43] #257 closed

[2021-05-20 09:55] codewithvk commented on #342
@himanshujaidka We can use conditional rendering for login admin.

[2021-05-20 11:12] vedant-jain03 commented on #303
@codewithvk Please assign me

[2021-05-20 18:46] #345 closed

[2021-05-21 05:28] Subham142 opened #351 "Doucumentation: Backend for user,Admin and comments"
###### Do you want to work on this issue - [Yes]

[2021-05-21 06:16] #324 closed

[2021-05-21 07:00] #335 closed

[2021-05-21 07:01] #344 closed

[2021-05-21 07:56] himanshujaidka commented on #342
yes @codewithvk pls assign

[2021-05-21 08:46] himanshujaidka opened #354 "replace the connection string"
## **Describe the bug**

- A clear and concise description of what the bug is.
At present mongoose, the connection is string is not complete `process.env.MONGO_URL`  so I want to change it to a working string or replace it with the string which makes the connection to the local DB, it will help the new contributors & every time we don't need to change the string, it will help developers also to co

[2021-05-21 08:48] himanshujaidka opened #355 "Backend: get bookmark jobs"
###### Do you want to work on it? - [Yes/No]
@purnima143 @codewithvk pls assign this issue to me

[2021-05-21 09:53] #31 closed

[2021-05-21 09:53] #109 closed

[2021-05-21 09:54] #348 closed

[2021-05-21 09:55] #346 closed

[2021-05-21 09:56] #354 closed

[2021-05-21 09:57] #98 closed

[2021-05-21 09:57] #51 closed

[2021-05-21 09:57] #263 closed

[2021-05-21 09:58] #231 closed

[2021-05-21 10:09] himanshujaidka opened #358 "backend: admin signin"
Yes, I want to work on it @purnima143 @codewithvk pls assign

[2021-05-21 10:09] himanshujaidka opened #359 "backend: admin signout"
Yes I want to work on it

[2021-05-21 11:46] ChitvanRamani22 opened #361 "Packages"
I want to add rate limit (limit requests from same IP) and helmet (to set HTTP security headers) in backend index.js
@codewithvk please assign this to me.

[2021-05-21 13:28] ChitvanRamani22 opened #362 "Aboutus page"
I want to convert the aboutus page code into a clean code and also redesign it.

###### Do you want to work on this issue - [Yes/No]Yes
@codewithvk please assign this to me.

[2021-05-21 14:18] Subham142 opened #363 "Frontend: admin user edit screen"
###### Do you want to work on it? - [Yes]

[2021-05-21 20:08] codewithvk commented on #361
@ChitvanRamani22 Sounds good!

[2021-05-21 20:11] #342 closed

[2021-05-21 20:12] #347 closed

[2021-05-22 04:31] #265 closed

[2021-05-22 04:32] ChitvanRamani22 opened #364 "Chatbot"
I observed that there is no chatbot in the website which needs to be there as there are lots of benefits of having chatbots like-
client engagement will be increased
service will also be increased
Its trending too.
@codewithvk  please assign this to me.
###### Do you want to work on this issue - [Yes/No] yes

[2021-05-22 05:53] himanshujaidka opened #367 "proposal: Automatic mails"
## Proposal
With the use of nodemailer, I want to add utility for this project, i.e. after successful signup, the user will get a signup mail from the kurakoo team.

###### Do you want to work on it? - [Yes/No]
Yes, I want to work on this issue

[2021-05-22 09:33] #361 closed

[2021-05-22 09:34] #358 closed

[2021-05-22 09:34] #351 closed

[2021-05-22 10:37] codewithvk commented on #367
@himanshujaidka Do you wanna use free service or paid?

[2021-05-22 10:50] himanshujaidka commented on #367
free service and I think it is offered by the nodemailer package

[2021-05-22 15:17] #364 closed

[2021-05-22 16:43] ChitvanRamani22 opened #370 "Advance chatbot"
I want to add speech recognition feature to chatbot.
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-22 16:48] ChitvanRamani22 opened #371 "Alert box"
I would like to add a alert box just below the navbar saying something like. "Good Landing! Create a profile to get started". Will provide functionality that it will appear for only 5 seconds and then will disappear.
@codewithvk please assign this to me. Thankyou!
###### Do you want to work on this issue - [Yes/No]yes

[2021-05-23 05:44] Yash9479 opened #375 "add label gssoc21 automatically"
## **Is your feature request related to a problem? Please describe.**

- I see mentors are facing adding labels in issues. I want to add a label.yml file that adds the gssoc21 label automatically.

## **Describe the solution you'd like**

Basically, it recognizes words in an issue like gssoc, GSSOC, GSSOC21, gssoc21 then adds the label gssoc21 directly by GitHub-action.

###### Do you want to work

[2021-05-23 05:48] Yash9479 commented on #375
Please assign me this issue as a part of GSSOC'21.

[2021-05-23 06:49] mitalirs opened #376 "views field (backend)"
## **Is your feature request related to a problem? Please describe.**

- Currently, a count of views is not being kept

## **Describe the solution you'd like**

- Add views field to question model
- the views count for the question will be incremented every time a user fetches that particular question by id
- Add views field to answer model
- the views count for the answer will be incremented ever

[2021-05-23 06:52] mitalirs opened #377 "get view count for answer (backend)"
## **Is your feature request related to a problem? Please describe.**

- Currently, there is no way to get the number of views for a particular answer

## **Describe the solution you'd like**

- Add a route that fetches the view count for a particular answer by the answer id

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-23 06:53] mitalirs opened #378 "get view count for question (backend)"
## **Is your feature request related to a problem? Please describe.**

- Currently, there is no way to get the number of views for a particular question

## **Describe the solution you'd like**

- Add a route that fetches the view count for a particular question by the question id

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-23 07:04] #362 closed

[2021-05-23 07:10] codewithvk opened #379 "Update Video - Current Look of website"
Description:- Update the current look of the website By creating video and update [here](https://github.com/purnima143/Kurakoo#flow-of-the-site-computer) with disciption.

###### Do you want to work on this issue - [Yes/No] - NO

[2021-05-23 07:12] ChitvanRamani22 commented on #379
@codewithvk i would like to take this up

[2021-05-23 10:09] himanshujaidka opened #382 "backend: deleteProfile route for the admin"
###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-05-23 10:09] himanshujaidka opened #383 "backend: update admin profile route"
###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-05-23 10:37] Subham142 commented on #382
I've already made delete and update

[2021-05-23 10:38] Subham142 opened #385 "Frontend: Add comment section to the feed"
###### Do you want to work on it? - [Yes]

[2021-05-23 10:39] Subham142 opened #386 "Backend: add upvote and downvote for the comments"
###### Do you want to work on it? - [Yes]

[2021-05-23 10:40] himanshujaidka commented on #382
Is it working fine?

[2021-05-23 10:42] Subham142 opened #387 "Frontend: Adda bookmark page and icon to the questions on the feed"
###### Do you want to work on it? - [Yes]

[2021-05-23 10:48] mitalirs opened #388 "upvote+downvote question"
## **upvote/downvote question**

- Currently, a user cannot upvote/downvote any question. I wish to create 2 separate routes (requiresSignIn) for this

## **Solution**

- 2 int fields, upvotes and downvotes in the question model (to keep a count)
- 2 array fields called upvotedQs and downvotedQs in the user model. They will contain the ids of the questions the user has upvoted/downvoted
- a user c

[2021-05-23 10:48] mitalirs commented on #377
@purnima143, @codewithvk
I wish to modify this issue and issue #378. Instead of just getting view count, I want to create routes that will fetch statistics ie:
1. stats for an answer will include: viewCount, upvotes, downvotes
2. stats for a qs will include: viewCount, noOfAnswers (to that particular question), upvotes, downvotes
are these changes fine?

also for that, I will also need to add an u

[2021-05-23 12:38] ChitvanRamani22 opened #389 "Time"
Display time in the website.
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-23 15:17] Subham142 commented on #382
Yes, it did

[2021-05-23 15:42] #371 closed

[2021-05-23 15:45] #375 closed

[2021-05-23 15:46] #359 closed

[2021-05-23 15:49] #363 closed

[2021-05-24 07:02] subhangi2731 commented on #113
@purnima143 please assign me

[2021-05-24 07:03] subhangi2731 commented on #187
@codewithvk please assign me

[2021-05-24 07:44] #382 closed

[2021-05-24 07:44] #376 closed

[2021-05-24 08:09] adysis14 commented on #385
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:10] adysis14 commented on #113
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:11] adysis14 commented on #53
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 08:12] adysis14 commented on #254
Hey! I'm interested in solving this issue . I would be very grateful if you assign this issue to me under GSSOC'21

Thank You!

[2021-05-24 10:03] #370 closed

[2021-05-24 12:10] Subham142 opened #391 "Backend: Error"
.

## **Screenshots**

![Screenshot (144)](https://user-images.githubusercontent.com/60570595/119345877-19092980-bcb7-11eb-8328-73a13e2c3df5.png)

###### Do you want to work on this issue - [Yes]

[2021-05-24 12:50] himanshujaidka commented on #391
I am working on this @Subham142

[2021-05-24 13:05] #391 closed

[2021-05-24 15:47] #389 closed

[2021-05-24 15:48] #355 closed

[2021-05-24 18:55] Subham142 opened #396 "Frontend: Admin Action & Reducer for fetching user details"
###### Do you want to work on it? - [Yes]

[2021-05-24 18:56] Subham142 opened #397 "Frontend: Admin Action & Reducer for updating user details"
###### Do you want to work on it? - [Yes]

[2021-05-25 02:27] #387 closed

[2021-05-25 11:52] #385 closed

[2021-05-25 14:44] ChitvanRamani22 opened #399 "Bug in frontend compilation"
![20210525_201426.jpg](https://user-images.githubusercontent.com/68965499/119518078-d2d6c780-bd95-11eb-974a-618c85cfab4c.jpg)

###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please asaign this to me.

[2021-05-25 15:15] ChitvanRamani22 opened #401 "Frontend useredit"
The UI of useredit screen is completly messed up as shown i would like to design it properly, and also add show/hide password feature in the same.
![20210525_202541.jpg](https://user-images.githubusercontent.com/68965499/119520421-e5ea9700-bd97-11eb-99e5-077f063b5750.jpg)

###### Do you want to work on this issue - [Yes/No]yes
    @codewithvk please assign this to me.

[2021-05-25 15:18] mitalirs opened #402 "view upvoted questions (backend)"
## **Is your feature request related to a problem? Please describe.**

- A user cannot fetch the questions he/she has upvoted

## **Describe the solution you'd like**

- getting upvoted questions by various criteria

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-25 17:25] himanshujaidka opened #405 "backend: automatic mails for the admin"
I want to work on this pls assign

[2021-05-25 17:27] himanshujaidka opened #406 "backend: edit the mail template"
We need to develop the new template for the mail, so what to use HTML or handlebars or anything else?

###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-05-25 17:34] #388 closed

[2021-05-25 17:35] codewithvk commented on #401
Gssoc

[2021-05-25 17:39] #367 closed

[2021-05-26 04:51] ChitvanRamani22 opened #414 "Team Page"
I want to redesign the team's page in a very attractuve way using AOS.
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please asign this to me.

[2021-05-26 06:32] Subham142 opened #416 "Redux: Manipulate the the store"
User redux devtools
and combine reducers
to use the Redux

###### Do you want to work on it? - [Yes]

[2021-05-26 06:48] #399 closed

[2021-05-26 06:53] #405 closed

[2021-05-26 06:55] #402 closed

[2021-05-26 06:59] #386 closed

[2021-05-26 07:01] #416 closed

[2021-05-26 07:17] Subham142 opened #418 "BAckend error :"

[2021-05-26 07:17] #418 closed

[2021-05-26 07:38] #377 closed

[2021-05-26 07:39] #378 closed

[2021-05-26 07:39] Subham142 opened #419 "Backend error"
## **Screenshots**

![Screenshot (148)](https://user-images.githubusercontent.com/60570595/119621343-a10c4200-be23-11eb-9e6b-22de5b70506c.png)

###### Do you want to work on this issue - [Yes]

[2021-05-26 07:45] #419 closed

[2021-05-26 13:37] ChitvanRamani22 opened #421 "Progress Bar"
Instead of returning <p>Loading...</p in signup.js would like to add progress bar as shown
![20210526_190544.jpg](https://user-images.githubusercontent.com/68965499/119669368-a1bdcc00-be55-11eb-9154-5de566dbb2e7.jpg)
![Screenshot_20210526-190404_GitHub.jpg](https://user-images.githubusercontent.com/68965499/119669379-a4b8bc80-be55-11eb-9036-1cb26fb47a31.jpg)

###### Do you want to work on this iss

[2021-05-26 15:06] #414 closed

[2021-05-27 05:13] Subham142 opened #425 "Backend :error"
## **Screenshots**

![Screenshot (148)](https://user-images.githubusercontent.com/60570595/119769595-58fb2700-bed8-11eb-871c-10b86c498d73.png)

###### Do you want to work on this issue - [Yes]

[2021-05-27 06:55] himanshujaidka opened #427 "update all API docs"
###### Do you want to work on it? - [Yes/No]
yes,  I want to update all the API docs

[2021-05-27 07:08] himanshujaidka opened #428 "backend: allow admin to delete spaces created by the user"
###### Do you want to work on this issue - [Yes/No]
Yes, I want to work

[2021-05-27 07:12] himanshujaidka opened #429 "backend: allow user to follow other users"
###### Do you want to work on it? - [Yes/No]
Yes, I want to work on this

[2021-05-27 07:12] himanshujaidka opened #430 "backend: allow user to follow spaces"
###### Do you want to work on it? - [Yes/No]
Yes , I want to work

[2021-05-27 11:06] #401 closed

[2021-05-27 11:07] #396 closed

[2021-05-27 11:10] #379 closed

[2021-05-27 11:38] #425 closed

[2021-05-27 12:11] mitalirs opened #435 "notification feature"
## **Is your feature request related to a problem? Please describe.**

- currently, there is no notifications feature

## **Describe the solution you'd like**

- creating a notification model
- adding getNotifications route that will fetch all the notifications for a particular user

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-27 12:14] mitalirs opened #436 "get notification + create notification"
## **Is your feature request related to a problem? Please describe.**

- currently, there is no notifications feature

## **Describe the solution you'd like**

- get a notification by id
- create a notification when a user answers your question
- create a notification when a user comments on your answer

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-27 12:16] mitalirs opened #437 "get notification for upvote"
## **Is your feature request related to a problem? Please describe.**

- the user does not get notified when someone upvotes their question/answer/comment

## **Describe the solution you'd like**

adding codes so that a user gets notified when someone:
- upvotes his/her answer
- upvotes his/her question
- upvotes his/her comment

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-27 12:17] mitalirs opened #438 "get notification for downvote"
## **Is your feature request related to a problem? Please describe.**

- the user does not get notified when someone downvotes their question/answer/comment

## **Describe the solution you'd like**

adding codes so that a user gets notified when someone:
- downvotes his/her answer
- downvotes his/her question
- downvotes his/her comment

###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-27 14:36] ChitvanRamani22 opened #440 "Redesigning of userupdate form."
I want to redesign in the way i redesigned the edit user form

###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-27 14:39] Subham142 commented on #436
I also just had this idea,  when I came to propose it.

i was beaten 2 hours before  :)

[2021-05-27 14:40] Subham142 opened #441 "REDUX: Action and Reducers for the UserProfile Update"
###### Do you want to work on it? - [Yes]

[2021-05-27 14:43] Subham142 opened #442 "Add Morgan and clear the consoles of warnings"
->add morgan so that the developer could see the API calls from the client to server
-> add environment variable and change ReadMe accordingly
->remove warnings from the console

###### Do you want to work on it? - [Yes]

[2021-05-27 16:22] ChitvanRamani22 opened #443 "Userlist"
Make user list attractive and responsive too.

###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-27 17:56] himanshujaidka commented on #436
@mitalirs so how do we send notifications? via mail?

[2021-05-28 03:46] #397 closed

[2021-05-28 03:46] #427 closed

[2021-05-28 03:47] #383 closed

[2021-05-28 03:51] akshita-kamani opened #445 "trial"
gssoc , GSSOC21, gssoc21

[2021-05-28 03:52] #445 closed

[2021-05-28 03:57] akshita-kamani opened #446 "TEST!"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]

[2021-05-28 03:58] #446 closed

[2021-05-28 04:01] codewithvk commented on #436
@mitalirs Please specify, Which type of notification do you want to implement, also share a little bit of approch.

[2021-05-28 04:02] codewithvk commented on #435
Redirect :- #436

[2021-05-28 04:54] mitalirs commented on #436
a user will be notified when someone:
1. answers their qs
2. comments on an ans that the user created
3.  upvotes their ans/qs/comment
4. downvotes their ans/qs/comment

basically, I will create a notification model that will store the notifications for a user the fields would be:
1. notificationFor (the id of user who is supposed to be notified)
2. notificationTitle: string field
3. upvoteComment

[2021-05-28 06:38] codewithvk commented on #436
@mitalirs Sounds good! Go ahead and if you need some help, ping me on discord.

[2021-05-28 07:40] himanshujaidka opened #448 "backend: unfollow user"
## Proposal
unfollow method is missing

###### GSSOC21

###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-05-28 12:14] ChitvanRamani22 opened #452 "Adding mail.js file"
Adding mail.js file the server folder, on how the mail.will be send.
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.
under - GSSOC21

[2021-05-28 13:52] #430 closed

[2021-05-28 14:48] #441 closed

[2021-05-29 04:54] Subham142 opened #454 "REDUX: action and reducefers for fetch answers"
###### GSSOC21
###### Do you want to work on this issue - [Yes]

[2021-05-29 04:55] Subham142 opened #455 "REDUX: action and reducefers for fetch questions"
###### GSSOC21
###### Do you want to work on this issue - [Yes]

[2021-05-29 04:55] Subham142 opened #456 "REDUX: action and reducefers for fetch comments"
###### GSSOC21
###### Do you want to work on this issue - [Yes]

[2021-05-29 09:10] mitalirs opened #462 "follow notification (backend)"
## **Is your feature request related to a problem? Please describe.**

- currently, users do not get notified if someone follows them

## **Describe the solution you'd like**

- add some code to follow the user route that will create a notification object and store it to the DB, so that it will be rendered to the appropriate user

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]

[2021-05-29 09:35] ChitvanRamani22 opened #463 "Implement route based code spliting and lazy loading."
Implement route based code splitting and lazy loading to improve performance, reduce load time! Its recommended in react's official documentation as if implemented properly, only needed components will be loaded first and rest all will be loading asynchronously in the background
###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-29 12:34] #442 closed

[2021-05-29 12:35] #452 closed

[2021-05-29 12:35] #448 closed

[2021-05-29 12:42] #436 closed

[2021-05-29 12:43] #437 closed

[2021-05-29 12:46] ChitvanRamani22 opened #464 "Fade up"
I want to add fade up feature using aos so that when the page is loaded the elements appear in a faded manner
###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me

[2021-05-29 13:11] #438 closed

[2021-05-29 13:11] #435 closed

[2021-05-29 14:27] #443 closed

[2021-05-29 15:22] #440 closed

[2021-05-29 15:44] Subham142 opened #466 "REDUX: action and reducefers for update comments"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-29 15:44] Subham142 opened #467 "REDUX: action and reducefers for update answers"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-29 15:46] Subham142 opened #468 "REDUX: action and reducefers for update questions"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-29 17:25] #429 closed

[2021-05-29 17:26] #462 closed

[2021-05-29 18:06] subhangi2731 opened #471 "remove redundant declaration"
## **Describe the bug**

-SyntaxError: Identifier 'morgan' has already been declared.

and Server started on port 5000. Check by this link http://localhost/:undefined
undefined instead of port number

###### GSSOC21

###### Do you want to work on this issue - [Yes]

[2021-05-29 18:07] subhangi2731 commented on #471
@purnima143 @yashikajotwani12 @ir2010 please assign this to me I want to work on this

[2021-05-29 19:01] mitalirs opened #472 "adding checks"
## **Is your feature request related to a problem? Please describe.**

- currently, a user can upvote/downvote their own ans/qs/comment
- and a user is allowed to answer a qs that they created

## **Describe the solution you'd like**

- adding some code to upvote and downvote routes to forbid a user to upvote/downvote their ans/qs/comment
- and some code to prevent user to answer questions that th

[2021-05-30 09:47] #464 closed

[2021-05-30 09:51] himanshujaidka opened #477 "backend: allow user to unfollow space"
Yes, I want to work on this issue

[2021-05-30 10:42] Sukriti-sood opened #479 "Github Bot Feature"
Github Bot Will COmment on Every new PR Open and PR merged

[2021-05-30 12:54] ChitvanRamani22 opened #481 "Xss"
Using xss in index.js file for data-sanitization against xss.

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me

[2021-05-30 13:09] ChitvanRamani22 opened #482 "Splashscreen"
This splash screen lack professionalism i want to add a professional splash screen using react-loaders.

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please asaign this to me.

[2021-05-30 14:45] #454 closed

[2021-05-30 14:48] #472 closed

[2021-05-30 14:49] codewithvk commented on #479
@Sukriti-sood go ahead!

[2021-05-30 14:57] mitalirs opened #483 "get questions of the users you follow"
## **Is your feature request related to a problem? Please describe.**

- A user does not have a feature to fetch all the questions created by the users they follow

## **Describe the solution you'd like**

- add a relevant route so that the user gets a list of all the questions created by the people who they follow

###### GSSOC21
###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-30 15:03] mitalirs opened #484 "add fields to user model"
## **Is your feature request related to a problem? Please describe.**

- fewer details about a user who signs up are stored

## **Describe the solution you'd like**

add following fields:
1. location
2. joining date (the date he/she signed up)
3. degree/qualification
4. short description of self

###### GSSOC21
###### Do you want to work on this issue - [Yes/No] - Yes

[2021-05-30 15:07] mitalirs opened #485 "view public profile"
## **Is your feature request related to a problem? Please describe.**

- users don't have an option to view someone's public profile

## **Describe the solution you'd like**

- adding route that can fetch relevant user profiles (by name)
- adding route that fetches user profile by id

the fetched profiles will not include any confidential or unnecessary information
it will include information abou

[2021-05-30 15:16] mitalirs opened #486 "related questions"
## **Is your feature request related to a problem? Please describe.**

- a user does not get a list of recommended questions when he/she views a related question

## **Describe the solution you'd like**

- adding some code to getQuestion route so that the response object returns a list of ids of related questions
- I will create the list of recommended questions based on the tags of the question t

[2021-05-30 18:38] #455 closed

[2021-05-30 18:41] #456 closed

[2021-05-30 18:42] #477 closed

[2021-05-30 18:42] #463 closed

[2021-05-30 18:44] #479 closed

[2021-05-30 18:52] himanshujaidka opened #489 "Update docs"
Yes i want to work @codewithvk

[2021-05-30 18:57] Subham142 opened #490 "REDUX: Upvote actions and reducers"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-30 18:57] Subham142 opened #491 "REDUX: Downvote actions and reducers"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-30 19:07] #482 closed

[2021-05-30 19:26] Subham142 opened #493 "add ".env examples" to read me"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-30 19:28] codewithvk commented on #493
@Subham142 go ahed! Make sure don't forgot to https://github.com/purnima143/Kurakoo/blob/master/server/src/.env.example this info and create in root with documentation.

[2021-05-30 19:28] Subham142 opened #494 "Github actions: add GSSoC21 to every PR"
###### GSSOC21

###### Do you want to work on it? - [Yes]

[2021-05-31 07:22] ChitvanRamani22 opened #499 "Bookmark Page"
The bookmark page does not look good i want to redesign it .

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-31 07:22] ChitvanRamani22 opened #500 "Validations"
Add form validation to admin side forms

###### GSSOC21
###### Do you want to work on this issue - [Yes/No]yes
@codewithvk please assign this to me.

[2021-05-31 10:24] shivamp296 opened #504 "Changes and fixes on the Front-end Homepage."
**### Minor Problem.**
1) Login and sign-up buttons are slightly out of body.
2) The hovering effect of both of them does not comply with the orange background.
3) In side navbar - there is small gap between whatsapp and facebook icon.
4) The email box inside the footer , have send button unintended.

I want to work on , the login and sign up positioning , and changing it's hovering effect as well

[2021-05-31 10:26] purnima143 commented on #504
@shivamp296  go ahead

[2021-05-31 11:28] #494 closed

[2021-05-31 11:29] #467 closed

[2021-05-31 11:32] #466 closed

[2021-05-31 11:34] #468 closed

[2021-05-31 11:42] #500 closed

[2021-05-31 11:43] #428 closed

[2021-05-31 14:35] #481 closed

[2021-05-31 14:39] #490 closed

[2021-05-31 14:53] #491 closed

[2021-05-31 14:54] #493 closed

[2021-05-31 14:55] #489 closed

[2021-05-31 15:04] #499 closed

[2021-05-31 15:05] #308 closed

[2021-05-31 15:18] himanshujaidka opened #511 "unit tests: configure the basic files for the unit-testing"
I would like to use mocha & chai for the node.js unit testing. @codewithvk @purnima143 pls assign this to me

[2021-05-31 15:51] himanshujaidka opened #515 "unit tests: unit testing for the signup API"
@codewithvk @purnima143 yes, I want to work on this.

[2021-05-31 15:51] #504 closed

[2021-05-31 15:53] #486 closed

[2021-05-31 15:54] #483 closed

[2021-05-31 17:15] #484 closed

[2021-05-31 17:17] #515 closed

[2021-05-31 17:20] #485 closed

[2021-05-31 17:26] himanshujaidka opened #519 "backend: unit test for the login"
###### Do you want to work on it? - [Yes/No]
Yes, I want to work

[2021-05-31 17:32] himanshujaidka opened #521 "docs: update readme"
###### Do you want to work on it? - [Yes/No]
Yes I want work on this

[2021-05-31 18:10] #521 closed

[2021-05-31 18:16] #519 closed

[2021-05-31 18:16] #511 closed

[2021-05-31 18:17] #316 closed

[2021-06-04 04:43] daacode commented on #254
adding more css to the sign up page

[2021-06-04 04:44] daacode commented on #272
I will like to take up this issue

[2021-06-04 04:57] daacode commented on #471
remove redundant declaration

[2021-06-06 04:25] daacode commented on #303
Please Assign me

[2021-06-06 04:25] daacode commented on #406
Please assign me

[2021-06-06 04:27] daacode commented on #254
Please assign this to me

[2021-06-12 07:36] AvineshTripathi commented on #406
is this issue still not fixed ?

[2021-06-26 21:49] kaustubhai opened #523 "Frontend: One typo and Re-declaration error"
## **Describe the bug**
A simple type and a variable re-declaration preventing compilation successfully

## **Possible solution**
A simple solve

## **Screenshots**
![Image1](https://i.imgur.com/5pTHsYx.png)
![Image2](https://i.imgur.com/cZy2qg5.png)

###### Do you want to work on this issue - [Yes/No]
Yes

[2021-06-26 22:23] kaustubhai opened #524 "Backend: Admin signup failed"
## **Describe the bug**
Admin required fields are not being fetched from user as payload. Missing keys are
- location
- joiningDate
- educationalQualification
- description

## **Possible solution**
Either add them to payload of the api as required
Or remove the required from Model

###### Do you want to work on this issue - [Yes/No]
Yes

[2021-06-30 02:12] daacode commented on #523
Kindly assign this to me

[2021-06-30 03:39] purnima143 commented on #523
@kaustubhai  go ahead

[2021-06-30 08:24] kaustubhai opened #526 "Backend: Bookmark question"
## **Describe the bug**
- Requires unnecessary bookmark variable in the payload
- questionId payload is requested via param which does not go with the rest of endpoints
- Error codes are wrong in the response handler

###### Do you want to work on this issue - [Yes/No]
Yes

[2021-09-02 15:46] swarangi203 commented on #272
I would like to take up the issue.

[2021-09-02 16:17] purnima143 commented on #272
@swarangi203 okk assigned

[2021-09-13 06:43] RakeshPotnuru commented on #182
@ir2010, @vedant-jain03
Can I take this issue?

[2021-09-15 16:30] rishabh2030 commented on #526
YES

[2021-09-19 19:37] SS-Ace commented on #254
Respected mentor,
I am a participant from "Developer Days".
Can I also contribute to this?

[2021-10-01 05:55] #32 closed

[2021-10-01 05:56] #36 closed

[2021-10-01 14:19] GabriFedi commented on #524
I'm interested in working on this issue

[2021-10-01 19:16] RiteshKr00 commented on #524
I would like to Work on this

[2021-10-02 04:07] purnima143 commented on #524
@GabriFedi Assigning you

[2021-10-02 05:08] kaustubhai commented on #524
@purnima143 if you'll see I already had done it in a PR #525

[2021-10-02 05:14] #526 closed, assigned to nobody

[2021-10-02 05:14] #524 closed, assigned to nobody

[2021-11-08 08:50] Praveen-kehra commented on #523
are you still working on this issue?

[2021-11-08 09:20] kaustubhai commented on #523
I've solved it months ago, ig this is a dead repo as the maintainers only get active near an open source event only and no one is reviewing PRs

[2022-01-24 17:55] NeerajGartia21 commented on #187
can i work on this issue?

[2022-03-14 12:11] sunkant opened #530 "so many bugs"
there so many bugs in Front-End

is this project dead?